generator:
  class: IcePropelGenerator
  param:
    model_class:           ContentCategory
    theme:                 bootstrap
    non_verbose_templates: true
    with_show:             false
    singular:              ContentCategory
    plural:                ContentCategories
    route_prefix:          content_category
    with_propel_route:     1
    actions_base_class:    cqBackendActions

    config:
      actions: ~
      fields:
        id: { label: ID }
        num_collections: { label: Collections }
        tree_level: { label: Level }
      list:
        display: [id,  tree_level, =name, _ancestors, _num_collections]
        title: Content Categories
        actions:
          export: { label: "Export to CSV", sf_format: csv }
      filter:
        fields:
          with_collections: { label: With Collections }
          level: { label: Category Level }
        display: [id, name, ancestor_id, level, with_collections]

      export:
        sort: [id, asc]
        display: [id, tree_level, name, _num_collections]

      form:  ~
      edit:
        fields:
          seo_title:
            type:  plain
        title: Edit Content Category
        display:
         '':
           - parent_id
           - name
         'SEO':
           - description
         'SEO (Preview)':
           - _edit_seo_snippet
      new:
        title: New Content Category
