# IDE and SCM files
nbproject
.project
.idea
.svn
*~
.swp

# symfony folders
/cache/*
/log/*
/data/sql/*.schema.sql
/data/sql/sqldb.map

# project specific ignores
/config/secure
/config/databases.yml
/test/schemas/*.sql

# generated folders
om
map
base

# composer modules
.composer
/plugins/sfGuardPlugin
/lib/vendor/neo4jphp
/lib/vendor/faker
/lib/vendor/monolog
!/plugins/sfPropelORMPlugin

# symlinked folders (when on windows)
/web/sf
/web/sf*Plugin

# stylesheets
/web/css/frontend/bootstrap.css
/web/css/frontend/responsive.css
/web/css/frontend/main.css

# Vagrant
/config/vagrant/.vagrant
/config/vagrant/platform
/config/vagrant/id_rsa

