[submodule "plugins/iceLibsPlugin"]
	path = plugins/iceLibsPlugin
	url = git@github.com:CollectorsQuest/iceLibsPlugin.git
[submodule "plugins/iceAssetsPlugin"]
	path = plugins/iceAssetsPlugin
	url = git@github.com:CollectorsQuest/iceAssetsPlugin.git
[submodule "plugins/iceBackendPlugin"]
	path = plugins/iceBackendPlugin
	url = git@github.com:CollectorsQuest/iceBackendPlugin.git
[submodule "plugins/iceBehaviorsPlugin"]
	path = plugins/iceBehaviorsPlugin
	url = git@github.com:CollectorsQuest/iceBehaviorsPlugin.git
[submodule "plugins/iceCrontabPlugin"]
	path = plugins/iceCrontabPlugin
	url = git@github.com:CollectorsQuest/iceCrontabPlugin.git
[submodule "plugins/iceJobQueuePlugin"]
	path = plugins/iceJobQueuePlugin
	url = git@github.com:CollectorsQuest/iceJobQueuePlugin.git
[submodule "plugins/iceSpamControlPlugin"]
	path = plugins/iceSpamControlPlugin
	url = git@github.com:CollectorsQuest/iceSpamControlPlugin.git
[submodule "plugins/iceTaggablePlugin"]
	path = plugins/iceTaggablePlugin
	url = git@github.com:CollectorsQuest/iceTaggablePlugin.git
[submodule "plugins/sfPropelORMPlugin"]
	path = plugins/sfPropelORMPlugin
	url = git@github.com:CollectorsQuest/sfPropelORMPlugin.git
[submodule "plugins/iceGeoLocationPlugin"]
	path = plugins/iceGeoLocationPlugin
	url = git@github.com:CollectorsQuest/iceGeoLocationPlugin.git
[submodule "plugins/iceMultimediaPlugin"]
	path = plugins/iceMultimediaPlugin
	url = git@github.com:CollectorsQuest/iceMultimediaPlugin.git
[submodule "plugins/iceSEOPlugin"]
	path = plugins/iceSEOPlugin
	url = git@github.com:CollectorsQuest/iceSEOPlugin.git
[submodule "plugins/cqErrorNotifierPlugin"]
	path = plugins/cqErrorNotifierPlugin
	url = git@github.com:CollectorsQuest/cqErrorNotifierPlugin.git
[submodule "lib/vendor/symfony"]
	path = lib/vendor/symfony
	url = git@github.com:CollectorsQuest/symfony1.git
