# IDE and SCM files
nbproject
.project
.idea
.svn
*~
.swp

# symfony folders
/cache/*
/log/*
/data/sql/*.schema.sql
/data/sql/sqldb.map

# project specific ignores
/config/secure
/config/databases.yml
/test/schemas/*.sql
/plugins/cqEmailsPlugin/test/fixtures/project/cache/*
/plugins/cqEmailsPlugin/test/fixtures/project/log/*

# generated folders
om
map
base

# composer modules
.composer
/plugins/sfGuardPlugin
/lib/vendor/neo4jphp
/lib/vendor/faker
/lib/vendor/monolog
/lib/vendor/twig
/lib/vendor/magnify
!/plugins/sfPropelORMPlugin

# symlinked folders (when on windows)
/web/sf
/web/sf*Plugin

# stylesheets
/web/css/frontend/*.css
!/web/css/frontend/ie.css

# Vagrant
/config/vagrant/.vagrant
/config/vagrant/platform
/config/vagrant/id_rsa

