# IDE and SCM files
nbproject
.project
.idea
.svn
*~
.swp

# symfony folders
/cache/*
/log/*
/data/sql

# project specific ignores
/config/secure
/config/databases.yml

# generated folders
om
map
base

# composer modules
.composer
/plugins/sf*Plugin
/plugins/ice*Plugin
/lib/vendor/neo4jphp
/lib/vendor/faker
!/plugins/sfPropelORMPlugin

# symlinked folders (when on windows)
/web/sf
/web/sf*Plugin

# Vagrant
/config/vagrant/.vagrant
/config/vagrant/platform
/config/vagrant/id_rsa

