<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /calendar/events/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /calendar/events/index.php [L]
</IfModule>
