{% extends "common/base.html.twig" %}

{% block content %}
  <p style="margin-bottom: 10px; font-weight: bold;">
    Hello again, {{ collector.displayName }}!
  </p>
  <p>
    Your can download the Essential Guide to Collecting via the link below:<br/><br/>
    {{ url_for('misc_guide_verify_email', { hash: collector_email.hash }, { absolute: true}) }}.
  </p>
{% endblock %}
