{% extends "common/base.html.twig" %}

{% block content %}
  <p style="margin-bottom: 10px; font-weight: bold;">
    Hello, {{ collector.username }}!
  </p>
  <p>
    Thanks for joining us at Collectors Quest.
    Here's your link to download your Essential Guide to Collecting.
    <br/><br/>

    {{ url_for('misc_guide_verify_email', { hash: collector_email.hash }, { absolute: true}) }}
    <br/><br/>

    We hope to see your collections soon! Happy hunting!
  </p>
{% endblock %}
