
<!-- place customized text and replacement fields here -->
Hello,<br><br>
%name% saw this video over at <span class="whiteback"><a href="http://www.collectorsquest.com/" title="Collectors Quest">Collectors&#146; Quest</a></span> and thought you would like to watch it.  <br>
<br>
<table cellspacing=5 border=0>
<tr><td rowspan=2><a href="%vidurl%"><img style="border: 1px solid black" src="%stillurl%" title="%title%" alt="%title%" width="150" height="113"></a></td>
<td><span class="header1"><span class="whiteback"><a href="%vidurl%" title="%title%">%title%</a></span></span></td></tr>
<tr><td>%description% (%length%)</td></tr>
</table><br>
We hope you enjoy watching it!<br>
<br>
Best,<br>
The Collectors&#146; Quest Team
