all:

  title: 'Collectors Quest'
  title_delimiter: ' | '

  ssl_redirect:
    # if insecure pages accesed with https should be rerouted to http
    strict: true

    # modules and actions that should be https
    secure:
      _ajax: ~
      mycq:  ~
      messages: ~
      shopping: ~
      seller: ~

  cqnext_auto_login_parameter_name: "i"
  cqnext_auto_login_time_limit: "+5 minutes"

  private_messages:
    # require the user to input a captcha every N outgoing messages
    require_captcha_threshold: 3
    timeout_threshold: 6
    timeout_duration: 30 minutes
    timeout_check_period: 60 minutes
    similarity_percent: 90
    spam_receiver: info@collectorsquest.com

  comments:
    num_load: 10
    timeout_threshold: 6
    timeout_duration: 30 minutes
    timeout_check_period: 60 minutes
    timeout_check_period_increase_for_unsigned: 30 minutes

  smart_menus:
    defaults:
      template:
        normal: '<li><a href="%url%" title="%title%" target="%target%">%name%</a></li>'
        active: '<li class="active"><a href="%url%" title="%title%" target="%target%">%name%</a></li>'

    header:
      items:
        collections:  { name: Collections, uri: "collections", target: '_top' }
        blog:         { name: Blog, uri: "blog", target: '_top' }
        video:        { name: Video, uri: "video", target: '_top' }
        marketplace:  { name: Market, uri: "marketplace", target: '_top' }

    mycq_menu:
      items:
        homepage:     { name: Home, uri: "mycq", check_lock: mycq_homepage }
        profile:      { name: Profile, uri: "mycq_profile" }
        collections:  { name: My Collections, uri: "mycq_collections" }
        marketplace:  { name: "My Market <sup>Î²eta</sup>", uri: "mycq_marketplace", check_lock: mycq_marketplace }
        messages:     { name: Inbox, uri: "messages_inbox" }
        wanted:       { name: Wanted List, uri: "mycq_wanted", check_lock: mycq_wanted }

    mycq_profile_tabs:
      items:
        personal_info:   { name: "Personal Information", uri: "mycq_profile" }
        account_info:    { name: "Account Settings", uri: "mycq_profile_account_info" }
        email_preferences: { name: "Email Preferences", uri: "mycq_profile_email_preferences" }
        addresses:       { name: "Address Book", uri: "mycq_profile_addresses", check_lock: mycq_profile_addresses }

    mycq_marketplace_tabs:
      items:
        collectibles_for_sale:   { name: "Items for Sale / Sold", uri: "mycq_marketplace" }
        # collectibles_sold:       { name: "Sold Items", uri: "@mycq_marketplace_sold" }
        collectibles_purchased:  { name: "Purchases", uri: "mycq_marketplace_purchased", check_lock: shopping_cart }
        settings:                { name: "Store Settings",  uri: "mycq_marketplace_settings", check_eval: "cqContext::getInstance()->getUser()->getCollector()->hasBoughtCredits()" }
        packages:                { name: "Credit History",  uri: "mycq_marketplace_credit_history", check_eval: "cqContext::getInstance()->getUser()->getCollector()->hasBoughtCredits()" }

    mycq_incomplete_tabs:
      items:
        collections:      { name: 'Incomplete Collections', uri: "mycq_incomplete_collections" }
        collectibles:     { name: 'Incomplete Items',       uri: "mycq_incomplete_collectibles" }

    mycq_messages_sidebar:
      items:
        inbox:    { name: 'Inbox', icon: inbox, uri: "messages_inbox" }
        sent:     { name: 'Sent Messages', icon: share-alt, uri: "messages_sent" }
        compose:  { name: 'Compose Message', icon: edit, uri: "messages_compose" }

dev:
  domain_name: "collectorsquest.dev"
  www_domain: "www.collectorsquest.dev"
  static_domain: "www.collectorsquest.dev"
  multimedia_domain: "multimedia.cqcdns.dev"

  ssl_redirect:
    # do not force SSL on collectorsquest.dev
    secure: ~

  credentials:
    rpxnow:
      application_domain: "https://collectorsquest-dev.rpxnow.com/"
      application_id: "epghfmlgdcconfbmkmof"
      api_key: "dabc61cdced770898eccd13f3b9f100e40d46b40"
