ice_breadcrumbs:
  _root: { name: 'Home', route: homepage }
  _separator: ' → '
  _lost: ''
  _default_case: 'IceFunctions::title_case'

  _video:
    index: [{ name: 'Video', route: video }]

  general:
    index: [{ name: 'Home', route: homepage }]
    login: [{ name: 'Sign in to Collectors Quest' }]
    recoverPassword: [{ name: 'Recover password' }]
    feedback: [{ name: 'Feedback' }]
    error404: [{ name: 'This page isn’t here anymore' }]
    error50x: [{ name: 'Unexpected Error' }]

  aetn:
    americanPickers: [{ name: 'As Seen on American Pickers' }]
    americanRestoration: [{ name: 'As Seen on American Restoration' }]
    pawnStars: [{ name: 'As Seen on Pawn Stars' }]
    pickedOff: [{ name: 'As Seen on Picked Off' }]
    storageWars: [{ name: 'As Seen on Storage Wars' }]

  collection:
    index:
      - { name: 'Collections', route: collections }
      - { name: '%Name%', model: true }

  collections:
    index: [{ name: 'Collections' }]
    category:
      - { name: 'Collections', route: collections }
      - { name: '%Name%', model: true, title: 'Category: %Name%' }
    collector:
      - { name: 'Collections', route: collections }
      - { name: 'by %DisplayName%', model: true, title: 'Collections by %DisplayName%' }

  collector:
    index:
      - { name: 'Collectors', route: collectors }
      - { name: '%DisplayName%', model: true }
    signup:
      - { name: 'Collectors', route: collectors }
      - { name: 'Signup' }
    allFeedback:
      - { name: 'Collectors', route: collectors }
      - { name: '%DisplayName%', route: collector_by_slug, model: true }
      - { name: 'Feedback' }

  collectibles:
    collectorList:
      - { name: 'Collectors', route: collectors }
      - { name: '%DisplayName%', route: collector_by_slug, model: true, subobject: Collector, title: 'Collector: %DisplayName%' }

  collectors:
    index: [{ name: 'Collectors' }]

  marketplace:
    index: [{ name: 'Marketplace' }]
    categories:
      - { name: 'Marketplace', route: marketplace }
      - { name: 'Categories' }
    browse:
      - { name: 'Marketplace', route: marketplace }
      - { name: '%Name%', model: true }

  search:
    index: [{ name: 'Search Results' }]
    collections:
      - { name: 'Search', route: search }
      - { name: 'Collections' }
    collectors:
      - { name: 'Search', route: search }
      - { name: 'Collectors' }
    collectibles:
      - { name: 'Search', route: search }
      - { name: 'Collectibles' }
    collectiblesForSale:
      - { name: 'Search', route: search }
      - { name: 'Collectibles For Sale' }
    blog:
      - { name: 'Search', route: search }
      - { name: 'Blog Articles' }
    videos:
      - { name: 'Search', route: search }
      - { name: 'Video' }

  categories:
    index: [{ name: 'Categories' }]
    category:
      - { name: 'Collections', route: collections }
      - { name: '%Name%', model: true, title: 'Category: %Name%' }

  mycq:
    _prepend:
      - { name: 'My Account', route: mycq }
    collections:
      - { name: 'Collections' }
    collection:
      - { name: 'Collections', route: mycq_collections }
      - { name: '%Name%', model: true }
    collectible:
      - { name: '%Collection%', route: mycq_collection_by_slug, model: true, subobject: Collection }
      - { name: '%Name%', model: true }
    profile:
      - { name: 'Profile'}
      - { name: 'Personal Information' }
    profileAccountInfo:
      - { name: 'Profile', route: mycq_profile}
      - { name: 'Account Settings' }
    profileAddresses:
      - { name: 'Profile', route: mycq_profile}
      - { name: 'Address Book' }
    profileAddressesNew:
      - { name: 'Profile', route: mycq_profile}
      - { name: 'Address Book', route: mycq_profile_addresses }
      - { name: 'Add New' }
    profileAddressesEdit:
      - { name: 'Profile', route: mycq_profile}
      - { name: 'Address Book', route: mycq_profile_addresses }
      - { name: 'Edit' }
    marketplace:
      - { name: 'My Market' }
      - { name: 'Items for Sale / Sold' }
    marketplacePurchased:
      - { name: 'My Market', route: mycq_marketplace }
      - { name: 'Purchases' }
    marketplaceSettings:
      - { name: 'My Market', route: mycq_marketplace }
      - { name: 'Store Settings' }
    marketplaceCreditHistory:
      - { name: 'My Market', route: mycq_marketplace }
      - { name: 'Credit History' }
    wanted:
      - { name: 'Wanted List' }
    incompleteCollections:
      - { name: 'Incomplete Collections' }
    incompleteCollectibles:
      - { name: 'Incomplete Collectibles' }
    leaveFeedback:
      - { name: 'Leave Feedback' }

  messages:
    _prepend:
      - { name: 'Messages', route: messages_inbox }
    inbox:
      - { name: 'Inbox' }
    compose:
      - { name: 'Compose new message' }
    sent:
      - { name: 'Sent messages' }
    show:
      - { name: 'Read message' }

  seller:
    _prepend:
      - { name: 'My Account', route: mycq }
    packages:
      - { name: 'Seller packages' }

  shopping:
    _prepend:
      - { name: 'Shopping Cart', route: shopping_cart }
    orderReview:
      - { name: 'Review Order' }
