prod_debug:
  .settings:
    error_reporting:        <?php echo (E_ALL & ~E_STRICT)."\n" ?>
    cache:                  false
    etag:                   false
    logging_enabled:        true
    web_debug:              true

next_debug:
  .settings:
    error_reporting:        <?php echo (E_ALL & ~E_STRICT)."\n" ?>
    cache:                  false
    etag:                   false
    logging_enabled:        true
    web_debug:              true

next:
  .settings:
    error_reporting:        <?php echo (E_ALL & ~E_STRICT)."\n" ?>
    cache:                  false
    etag:                   false
    logging_enabled:        false

dev:
  .settings:
    error_reporting:        <?php echo (E_ALL | E_STRICT)."\n" ?>
    logging_enabled:        true
    cache:                  true
    etag:                   false
    web_debug:              true
    web_debug_web_dir:      "/sf/sf_web_debug"

test:
  .settings:
    error_reporting:        <?php echo ((E_ALL | E_STRICT) ^ E_NOTICE)."\n" ?>
    cache:                  false
    etag:                   false
    web_debug:              false

all:
  .settings:
    cache:                  true
    logging_enabled:        false
    no_script_name:         true
    web_debug:              false
    web_debug_web_dir:      "http://backend.cqcdns.com/sf/sf_web_debug"

    i18n:                   true
    default_culture:        en
    default_timezone:       America/New_York
    charset:                utf-8

    enabled_modules:        [iceGlobalModule, cqMagnifyAuth, iceBreadcrumbsModule]
    standard_helpers:       [Partial, Cache, I18N, Date, iceAssets, cqAssets, cqImages, cqLinks, cqJavascripts, cqTemplating, cqHTML]
    sf_compat_10:           off

    # Output escaping settings
    escaping_strategy:      false
    escaping_method:        ESC_SPECIALCHARS

    # Form security secret (CSRF protection)
    csrf_secret:            qqDHZyX9DuEKyCv7hACqUfPzC86k7JEx

    # Cache settings
    lazy_cache_key:         true

  .actions:
    default_module:         general
    default_action:         index

    error_404_module:       general
    error_404_action:       error404

    secure_module:          general
    secure_action:          secure

    login_module:           general
    login_action:           login

    secure_module:          general
    secure_action:          index
