{% extends "common/base.html.twig" %}

{% block content %}

  <p style="margin-bottom: 10px; font-weight: bold;">
    Hello again, {{ collector.displayName }}!
  </p>

  <p>
    Thanks for purchasing listings on Collectors Quest! We hope you enjoy continuing to sell your neat
    stuff to our audience of passionate, active collectors. Here’s your package information:<br/><br/>

    Number of listings:
    {% if package_transaction.credits >= 9999 %}
      <strong>Unlimited</strong><br/>
    {% else %}
      <strong>{{ package_transaction.credits }}</strong><br/>
    {% endif %}

    Pricing level: <strong>${{ package.packagePrice | number_format(2, '.', ',') }}</strong><br/>
    Expiration date: <strong>{{ package_transaction.expiryDate | date('m/d/Y') }}</strong>
  </p>

  <p>Happy selling!</p>

{% endblock %}
