{% extends "common/base.html.twig" %}

{% block content %}
  <p style="margin-bottom: 10px; font-weight: bold;">
    Dear {{ collector.displayName }},
  </p>

  <p>
      Thank you for becoming a seller on Collectors' Quest. Below is your selected package information.<br/><br/>
      Package name: <strong>{{ package_name }}</strong><br/>
      Allowed items for sale: <strong>{{ package_items }}</strong><br/>
      Expiry date: <strong>{{ expiry_date|date('m/d/Y') }}</strong>
  </p>

{% endblock %}
