@import "_variables.less";

a.btn-cq-style span {
	.btn-cq-left;
	display: block;
	line-height: 22px;
	padding: 7px 0 5px 18px;
	color: #fff;
}

a.btn-cq-style {
	.btn-cq-right;
	display: block;
	float: left;
	height: 34px;
	margin-right: 6px;
	padding-right: 20px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
}

a.btn-cq-style:hover span {
	background-position: 0 -34px; color: #fff;
}

a.btn-cq-style:hover {
	background-position: right -34px;
}
