@import "_variables.less";

.collection_grid_view {
	margin-top: 2px;
	height: 160px;
	overflow: hidden;
	position: relative;

	.mosaic-backdrop {
		.size(150px, 190px);
		margin-left: 3px;
		margin-top: 3px;
	}

	.mosaic-overlay {
		.size(150px, 190px);
		margin: 3px;

		.details {
			margin: 10px;
		}
	}

	.stack {
		background: url("@{baseUrl}/stack.png") no-repeat;
		.size(151px, 196px);
		padding: 5px 0 0 13px;

		.mosaic-backdrop {
			.size(138px, 175px);
			margin: 5px 0 0 0;
			border: none;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
		}

		.mosaic-overlay {
			width: 175px;
			height: 138px;
			margin: 0;
		}
	}
}

.collection_grid_view_square_small {
	position: relative;
	overflow: hidden;
	height: 140px;
	margin-bottom: 18px;

	.mosaic-backdrop {
		.square(140px);
	}

	.mosaic-overlay {
		.square(140px);
	}

	.mosaic-overlay .details {
		padding: 10px;
		font-size: 130%;
	}
}

.collections-container {
	margin-left: -12px;
}

.item-info {
	margin: 35px 0;
}

.item-description {
	margin: 10px 0;

	h2 {
		color: @red;
		.custom-font(20px, 22px, italic, normal);
		letter-spacing: 0.01em;
		margin-bottom: 12px;
	}
}

.item-condition {
	font-weight: bold;
	margin-top: 30px;
	display: block;
}

#user-collections .user-collections-inner {
	height: 212px;
	border: 1px solid #f2f0f0;
	.border-radius(2px);
}

.personal-info-sidebar {
	margin: 10px 0;
	font-size: 12px;
	color: @blueDark;
  word-wrap: break-word;
}

.other-items-sidebar {
	width: 100%;
	margin-bottom: 10px;

	a.left-arrow, a.right-arrow {
		position: absolute;
		visibility: hidden;
		display: block;
		.size(69px,14px);
		color: #fff;
		#gradient > .vertical(#2093C3, #0971BA);
		&:hover {
			margin: 2px!important;
			padding: 0!important;
			border: none!important;
			#gradient > .vertical(#13597F, #072B44);
		}
		i {
			margin-top: 26px;
			margin-left: 4px;
		}
	}
	a.left-arrow {
		left: -14px;
	}
	a.right-arrow {
		right: -14px;
	}

	span {
		padding-left: 5px;
		margin-bottom: 5px;
		display: block;
	}
	.thumbnails-inner {
		.clearfix();
	}
	.collectible {
		.square(69px);
		margin: 0 2px;
	}
	.thumbnails {
		display: relative;
		margin-left: 2px;
		margin-bottom: 5px;

		a {
			.box-shadow(none);
			margin:2px;
			&:hover {
				margin: 0px;
				padding: 2px;
				background-color: transparent;
				border: none;
				.border-radius(0);
			}
		}
		a.active {
			margin: 0px;
			padding: 1px;
			background-color: white;
			border: 1px solid @blue;
			.border-radius(0);
		}
	}
	.thumbnail {
		padding: 0;
		border: none;
		.square(69px);
		.border-radius(0);
	}
}

.blue-actions-panel {
	height: 30px;
	padding: 8px 8px 0 10px;
	font-size: 10px;
	background-color: @lightBlue;

	[class*="span"] {
		min-height: 22px;
		height: 22px;
	}

	> a {
	  display: inline-block;
	  line-height: 10px;
	  vertical-align: middle;
	}
	ul {
		float: left;
		margin: 6px 0 0 0;
		padding: 0;
		list-style: none;

		li {
			float: left;
			margin: 0;
			padding: 0 9px 0 9px;
			font: 10px Arial;
			border-left: 1px solid #83a8bb;
			&:first-child {
				border-left: none;
			}
			a, span {
				margin: 0;
				color: @blueDark;
				text-decoration: none;
				border: none;
				position: relative;
				line-height: 10px;
				&:hover {
					color: @blue;
				}
			}
		}
	}
}

#sidebar .blue-actions-panel {
	height: 30px;
	padding: 10px 8px 0 10px;

	ul {
		margin-top: 4px;
	}
}

.blue-actions-panel .share {
	.fb_iframe_widget, .addthis_button_facebook_like {
		height: 22px;
	}
	a {
		display: inline-block;
		vertical-align: middle;
	}
}
