
//profile page
#public-profile-info {
	margin-top: 20px;
	min-height: 138px;

	.profile-info {
		background-color: @yellowBackground;
		color: @blueDark;
		padding: 4px 5px;
	}
	.profile-img {
		float: left;
		padding: 0 25px 15px 0;
	}
	.stat-area {
		height: 44px;
		padding-top: 14px;
		margin-left: 20px;
		background-color: @yellowBackground;
		color: @brown;
		display: block;
		text-align: center;
		font-size: 22px;
		font-weight: bold;
		span {
			font-size: 10px;
			line-height: 14px;
			display: block;
			padding-top: 4px;
		}
	}
	h1 {
		.custom-font(20px, 24px, italic, normal);
		.smooth-font();
		letter-spacing: 0.01em;
		color: @red;
		padding-top: 14px;
		padding-bottom: 15px;
	}
}
.permalink {
	margin: 45px 0 25px 0;
}



//Resets

#body-collector-index #sidebar .section-title {
	margin-top: 0;
	margin-bottom: 0;
}

