@import "_variables.less";

.collectible_grid_view {
  overflow: hidden;
  position: relative;
  height: 150px;
  margin-bottom: 16px;

  a {
    color: #afafaf;
    text-decoration: none;
  }

  .mosaic-backdrop {
    .size(150px, 190px);
  }

  .mosaic-overlay {
    .size(150px, 190px);
  }

  .mosaic-overlay .details {
    padding: 10px;
    font-size: 130%;
  }
}

.collectible_grid_view_square {
  margin-bottom: 15px;

  img {
    margin-left: 2px;
    margin-top: 4px;
  }

  p {
    height: 18px;
    margin: 0;
    margin-top: 1px;
    padding: 5px;
    line-height: 20px;
    .text-overflow();
  }
}

.collectible_grid_view_square_small {
  overflow: hidden;
  position: relative;
  .square(140px);
  margin-bottom: 15px;

  .mosaic-backdrop {
    .square(100%);
  }

  .mosaic-overlay {
    .square(140px);
  }

  .mosaic-overlay .details {
    padding: 10px;
    font-size: 130%;

    a {
      display: block;
      .square(120px);
    }
  }
}

.collectible_grid_view_square_big {
  height: 295px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;

  .mosaic-backdrop {
    .square(295px);
  }

  .mosaic-overlay {
    .square(295px);
  }

  .mosaic-overlay .details {
    padding: 10px;
    font-size: 130%;

    a {
      display: block;
      .square(275px);
    }
  }
}

.collectible_grid_view_3x3 {
  height: 450px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;

  .mosaic-backdrop {
    .square(450px);
  }

  .mosaic-overlay {
    .square(450px);
  }

  .mosaic-overlay .details {
    padding: 10px;
    font-size: 130%;

    a {
      display: block;
      .square(430px);
    }
  }
}

.collectible_grid_view_3x2 {
  position: relative;
  overflow: hidden;
  height: 295px;
  margin-bottom: 15px;

  .mosaic-backdrop {
    .size(295px, 450px);
  }

  .mosaic-overlay {
    .size(295px, 450px);
  }

  .mosaic-overlay .details {
    padding: 10px;
    font-size: 130%;

    a {
      display: block;
      .size(275px, 430px);
    }
  }
}

.collectible_grid_view_3x1 {
  position: relative;
  overflow: hidden;
  height: 140px;
  margin-bottom: 15px;

  .mosaic-backdrop {
    .size(140px, 450px);
  }

  .mosaic-overlay {
    .size(140px, 450px);
  }

  .mosaic-overlay .details {
    padding: 10px;
    font-size: 130%;

    a {
      display: block;
      .size(120px, 430px);
    }
  }
}

.collectible_grid_view_1x3 {
  height: 450px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;

  .mosaic-backdrop {
    .size(450px, 140px);
  }

  .mosaic-overlay {
    .size(450px, 140px);
  }

  .mosaic-overlay .details {
    padding: 10px;
    font-size: 130%;

    a {
      display: block;
      .size(430px,120px);
    }
  }
}

.collectible_grid_view_2x3 {
  height: 450px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;

  .mosaic-backdrop {
    .size(450px, 295px);
  }

  .mosaic-overlay {
    .size(450px, 295px);
  }

  .mosaic-overlay .details {
    padding: 10px;
    font-size: 130%;

    a {
      display: block;
      .size(430px,275px);
    }
  }
}

.collectible_grid_view_wide {
  position: relative;
  overflow: hidden;
  height: 140px;
  margin-bottom: 15px;

  .mosaic-backdrop {
    .size(140px, 295px);
  }

  .mosaic-overlay {
    .size(140px, 295px);
  }

  .mosaic-overlay .details {
    padding: 10px;
    font-size: 130%;

    a {
      display: block;
      .size(120px, 275px);
    }
  }
}

.collectible_grid_view_tall {
  height: 295px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;

  .mosaic-backdrop {
    .size(295px, 140px);
  }

  .mosaic-overlay {
    .size(295px, 140px);
  }

  .mosaic-overlay .details {
    padding: 10px;
    font-size: 130%;

    a {
      display: block;
      .size(275px,120px);
    }
  }
}

.collectible_for_sale_grid_view {
  .size(150px, 190px);
  overflow: hidden;
  position: relative;
  margin-left: 2px;
  margin-bottom: 25px;
  background: #111 url("@{baseUrl}/progress.gif") no-repeat center center;
  border: 1px solid #fff;
  .box-shadow(0 1px 3px rgba(0, 0, 0, 0.5));


  a {
    color: #afafaf;
    text-decoration: none;
  }

  p {
    padding: 10px;
    color: #afafaf;
    font-weight: bold;
    text-align: left;
  }

  img.thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
  }

  .mosaic-backdrop {
    display: none;
    position: absolute;
    top: 0;
    .square(100%);
    background: #111;
  }

  .mosaic-overlay {
    display: none;
    position: absolute;
    z-index: 5;
    .square(100%);
    background: #111;

  }

  .mosaic-overlay .details {
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #fff;
  }

  .mosaic-overlay {
    height: 75px;
    bottom: -75px;
    background: url("@{baseUrl}/black.png");
  }
}


.collectibles-for-sale-3x-big-wrapper {
  .clearfix;

//
  #pages {
    width: 100%;
    text-align: center;
    .clearfix;

    > a.bullet {
      display: inline-block;
      margin-left: 5px;
    }
  }

  .inform {
    font-size: 10px;
    color: @blue;
    text-transform: uppercase;
    text-align: center;
  }
}

#body-marketplace-holiday .collectibles-for-sale-3x-big-wrapper {
  background-color: #ecebec;
}

.collectible_for_sale_grid_view_masonry_big {
  position: relative;
  width: 220px;
  margin-left: 16px;
  margin-bottom: 20px;
  border: 1px solid #fff;
  .box-shadow(0 1px 3px rgba(0, 0, 0, 0.5));

  > a {
    display: block;
    color: #afafaf;
    text-decoration: none;
  }

  img {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
  }

  .collectible-info {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    max-height: 0;
    background-color: rgba(0,0,0,0.6);
    .transition(max-height 0.55s ease-out);

    > a {
      display: block;
      .size(100%, 90%);
      padding: 10px 5%;
    }

    .target.zoom-zone {
      font-size: 15px;
      font-weight: bold;
      color: #fff;
    }
    .open-modal.zoom-zone {
      font-size: 15px;
      font-weight: bold;
      color: #fff;
    }
    span.price {
      display: block;
      margin-top: 3px;
      font-size: 13px;
      font-weight: normal;
      color: #fff;
    }
  }

  &:hover .collectible-info {
    .transition(max-height 0.55s ease-out);
    max-height: 140px;
  }

  .sold {
    position: absolute;
    z-index: 101;
    top: 16px;
    left: 0;
    padding: 2px 6px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #57a957;
  }
}

.collectible_for_sale_grid_view_masonry_big .collectible-info {
  *filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#80000000', endColorstr = '#80000000', GradientType = 0);
}


.lt-ie9 .collectible_for_sale_grid_view_masonry_big,
.lt-ie9 .collectible_for_sale_grid_view_square_big,
{
  .collectible-info {
    display: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#80000000', endColorstr = '#80000000', GradientType = 0);
  }
  &:hover .collectible-info {
    display: block;
  }
}

.collectible_for_sale_grid_view_masonry_mobile {
  position: relative;
  width: 194px;
  margin-left: 14px;
  margin-bottom: 20px;
  border: 1px solid #fff;
  .box-shadow(0 1px 3px rgba(0, 0, 0, 0.5));

  > a {
    display: block;
    color: #afafaf;
    text-decoration: none;
  }

  img {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
  }

  .collectible-info {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    max-height: 0;
    background-color: rgba(0,0,0,0.6);
    .transition(max-height 0.55s ease-out);

    > a {
      display: block;
      .size(100%, 90%);
      padding: 10px 5%;
    }

    .target.zoom-zone {
      font-size: 15px;
      font-weight: bold;
      color: #fff;
    }
    .open-modal.zoom-zone {
      font-size: 15px;
      font-weight: bold;
      color: #fff;
    }
    span.price {
      display: block;
      margin-top: 3px;
      font-size: 13px;
      font-weight: normal;
      color: #fff;
    }
  }

  &:hover .collectible-info {
    .transition(max-height 0.55s ease-out);
    max-height: 140px;
  }

  .sold {
    position: absolute;
    z-index: 101;
    top: 16px;
    left: 0;
    padding: 2px 6px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #57a957;
  }
}

.collectible_for_sale_grid_view_masonry_mobile .collectible-info {
  *filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#80000000', endColorstr = '#80000000', GradientType = 0);
}


.lt-ie9 .collectible_for_sale_grid_view_masonry_mobile,
.lt-ie9 .collectible_for_sale_grid_view_square_mobile,
{
  .collectible-info {
    display: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#80000000', endColorstr = '#80000000', GradientType = 0);
  }
  &:hover .collectible-info {
    display: block;
  }
}

.collectible_for_sale_grid_view_square {
  margin-bottom: 15px;
  margin-left: 13px;
  border: 1px solid #a69999;
  &:hover {
    border: 1px solid @blue;
  }

  img {
    margin: 3px;
    margin-bottom: -4px;
  }

  p {
    overflow: hidden;
    margin: 0;
    margin-top: 5px;
    padding: 5px;
    padding-bottom: 2px;
    line-height: 20px;
  }
}


#items-for-sale {
  .thumbnails {
    .span3 {
      .size(165px, 133px);
      margin-bottom: 15px;
      font-size: 12px;
      border: 1px solid @boxBorder;
      .box-shadow(none);
      .border-radius(0);

      &:hover {
        border: 1px solid @blue;
        background-color: white;
        .border-radius(0);
      }
      p {
        margin-bottom: 4px;
        padding: 5px 2px 0 2px;
        font-size: 12px;
      }
      span {
        display: block;
        padding-right: 2px;
        font-weight: bold;
        text-align: right;
        color: @blueDark;
      }
    }
    .thumbnail {
      p {
        .text-overflow();
      }
    }
  }
  .mycq-create-collectible {
    margin-bottom: 15px;
    margin-left: 15px;
    padding: 6px;
    border: 1px solid @blue;
    background-color: #fff;
    &:hover {
      border-color: @red;
    }
  }
  .info-no-collections-uploaded {
    padding-top: 30px;
    padding-left: 40px;
  }
}

#collectible-items {

  ul.thumbnails {
    margin-left: -4px
  }
  .span9 {
    width: 476px;
  }
  .span3 {
    width: 137px;
  }
  [class*="span"] {
    margin: 0 0 4px 4px;
  }
  .thumbnail {
    padding: 0;
    .box-shadow(none);
    .border-radius(0);
    border: none;
  }
}

#information-box {
  background-color: @yellowHighlight;
  padding: 15px;
}


.shipping-rates {
  border: 1px solid #cfc9c9;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;


  th {
    padding: 3px 6px;
    text-align: left;
    text-size: 12px;
    color: @brown;
  }
  td {
    padding: 3px 6px;
  }
  tr.dotted-line-brown {
    font-size: 10px;
    text-transform: uppercase;
    background: url("@{baseUrl}/table-line-dotted.png") repeat-x bottom;
  }
}

#price-container {
  .clearfix();

  i.add-to-card-button {
    padding-right: 10px;
    margin-right: 5px;
  }

  .price {
    display: block;
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    color: @blueDark;
  }

  .btn-primary {
    margin-top: 5px;
  }
}

.collectible_for_sale_grid_view_square_big {
  height: 295px;
  margin-bottom: 16px;
  overflow: hidden;
  position: relative;

  .mosaic-backdrop {
    .square(295px);
  }

  .mosaic-overlay {
    .square(295px);
  }

  .mosaic-overlay .details {
    padding: 10px;
    font-size: 130%;

    a {
      display: block;
      .square(275px);
    }
  }

  .collectible-info {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    z-index: 10;
    display: block;
    width: 295px;
    max-height: 0;
    background-color: rgba(0,0,0,0.6);
    .transition(max-height 0.55s ease-out);

    font-size: 15px;
    font-weight: bold;
    color: #fff;

    span.price {
      display: block;
      margin-top: 3px;
      font-size: 13px;
      font-weight: normal;
      color: #fff;
    }
  }

  > a {
    display: block;
    color: #afafaf;
    text-decoration: none;
  }

  img {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
  }

  &:hover .collectible-info {
    .transition(max-height 0.55s ease-out);
    max-height: 140px;
  }
}

.lt-ie9 .collectible_for_sale_grid_view_masonry_big,
.lt-ie9 .collectible_for_sale_grid_view_square_big,
{
  .collectible-info {
    display: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#80000000', endColorstr = '#80000000', GradientType = 0);
  }
  &:hover .collectible-info {
    display: block;
  }
}
