@import "_variables.less";

// Text color
.lightblue {
  color: @blue;
}

.darkblue {
  color: @blueDark;
}

.yellowlight {
  color: @yellowLight;
}

.red {
  color: @red;
}

.red-bold {
  .red;
  font-weight: bold;
}

.brown {
  color: @brown;
}

.white {
  color: #fff;
}

.grey {
  color: grey;
}

.lightgrey {
  color: #999;
}

.gray-bg {
  background-color:#F9F9F9;
}

.brown-bold {
  .brown;
  font-weight: bold;
}

a.bold-links {
  font-weight: bold;
}

// Align

.link-align {
  line-height: 10px;
}

// Titles

.title-red {
  h3 {
    .custom-font(34px, 34px, italic, bold);
    .smooth-font();
    color: @red;
    letter-spacing: 0.01em;
  }
}

.section-title {
  background: url("@{baseUrl}/red-dotted-line.png") repeat-x bottom;
  margin-top: 0;
  margin-bottom: 10px;
  h2 {
    .custom-font(20px, 22px, italic, normal);
    .smooth-font();
    color: @red;
    letter-spacing: 0.01em;
  }
  .span3 {
    text-align: right;
  }

  &.blue {
    background: url("@{baseUrl}/blue-dotted-line.png") repeat-x bottom;

    h2 {
      color: @blueDark;
      font-family: "Arial Black", @baseFontFamily;
      font-style: normal;
    }
  }
}

.red-dashes-bottom {
  margin-bottom: 15px;
  padding-bottom: 12px;
  background: url("@{baseUrl}/red-dotted-line.png") repeat-x bottom;
}

.brown-dashes {
  background: url("@{baseUrl}/brown-dotted-line.png") repeat-x top;
  padding-top: 15px;
}

.section-title-yellow {
  background: url("@{baseUrl}/yellow-dotted-line.png") repeat-x bottom;
  margin-top: 0;
  margin-bottom: 10px;
  padding-bottom: 6px;

  h3 {
    .custom-font(28px, 24px, italic, bold);
    .smooth-font();
    color: #fff5d4;
    letter-spacing: 0.01em;
  }
}


// BREADCRUMBS

#breadcrumbs {
  margin: 0 auto -40px auto;
  background-color: @white;
  height: 85px;
  border-left: 1px solid #ededed;
  .clearfix();

  .breadcrumbs-inner {
    padding: 15px 20px 32px 0;
  }
}

//

.lt-ie9 {
  .body-mycq,
  .body-messages
  {
    #breadcrumbs {
      margin: 0 auto;
    }
    #content {
      padding-top: 0;
    }
  }
}

//HEADER
.header-bar {
  #gradient > .vertical(#c90000,#b20000);
  margin-bottom: 0;

  h1, h2 {
    .custom-font(20px, 20px, normal, bold);
    .smooth-font();
    color: white;
    letter-spacing: 0.02em;
  }
  a {
    color: @white;
    text-decoration: none;
  }
}

.header-bar [class*="span"] {
  min-height: 0;
  padding: 8px 15px;
}

.header-bar .span9 {
  padding: 8px 0 8px 15px;
}

.header-bar .span3 {
  padding: 8px 15px 8px 0;
}

.header-bar .text-right {
  padding-top: 10px;
  white-space: nowrap;
}

#top-link {
  display: none;
  position: absolute;
  right: 15px;
  top: -70px;
  font-variant: small-caps;
  white-space: nowrap;

  i {
    font-size: 40px;
    float: left;
    margin-top: -2px;
    margin-right: 10px;
  }
  &.sticky {
    position: fixed;
    right: 10px;
    bottom: -5px;
    top: auto;
  }
}

// ??
li {
  line-height: @baseLineHeight + 2;
}

//Recover password page
.input-captcha {
  .size(38px, 114px);
  margin-bottom: 14px!important;
  padding-left: 10px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: 0.2em;
}

//

.holder-icon-edit {
	 position: absolute;
	 display: none;
	 background-color: transparent;
	 background-color: rgba(0, 0, 0, 0.6);
	 .border-radius(7px);
	 cursor: pointer;

	 i {
		 color: @grayLighter;
	 }
 }

.holder-icon-play {
	position: absolute;
	top: 45%;
	left: 46%;
	.square(55px);
	font-size: 14px;
	background-color: transparent;
	background-color: rgba(0, 0, 0, 0.6);
	.border-radius(7px);
	cursor: pointer;

	> i {
		font-size: 44px;
		line-height: 58px;
		color: @grayLighter;
	}
}

.lt-ie9 {
  .holder-icon-play,  .holder-icon-edit {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#80000000', endColorstr = '#80000000', GradientType = 0);
  }
}


// Bricks

.brick.fixed-height {
  height: 165px;
  float: left;
}

.social-signin-wapper {
  margin: 10px auto 30px auto;
  text-align: center;

  .facebook-big-icon, .twitter-big-icon, .google-big-icon, .live-id-big-icon {
    display: inline-block;
    margin: 0 10px;
  }
}


//Alerts

.alert-icon-orange {
  vertical-align: middle;
  padding-right: 5px;
  font-size: 22px;
  line-height: 22px;
}

// Misc

.tagedit-list {
  .border-radius(@inputBorderRadius) !important;
}

.row-fluid.min-height-13 > [class*="span"] {
  min-height: 13px;
}

br.clearfix {
  clear: both;
  .clearfix();
}
