@import "_variables.less";

// HEADER
header {
  margin-bottom: 0;
  border-bottom: 1px solid #c4ccd2;
}

header > .container {
  box-shadow: none;
}

#header-pushdown-ad {
  width: 970px;
  margin: auto;
  margin-top: 10px;
}

// LOGO
.cq-logo {
  position: absolute;
  left: 18px;
  top: -37px;
  z-index: 1001;
}

.shopping-cart-inner {
  display: block;
  position: relative;
}

.shopping-cart {
  display: block;
}

#shopping-cart-count {
  display: block;
  position: relative;
  top: 1px;
  left: 9px;
  .size(14px, 16px);
  font: bold 10px/14px "Trebuchet", Arial, Helvetica;
  text-align: center;
  color: @white;
  background-color: @red;
}

.empty-cart {
  display: none !important;
}

a.link-cart {
  outline: none;
  vertical-align: middle;
  display: inline-block;
  .ie7-inline-block();
  &:hover {
    text-decoration: none;
    outline: 0;
  }
  &:focus {
    outline: 0;
  }
}

.nav-divider {
  display: inline-block;
  overflow: hidden;
  .size(23px, 1px);
  margin: 0 15px;
  vertical-align: middle;
  border-right: 1px solid #b4b7bc;
}

.input-prepend, .input-append {
  margin-bottom: 0;
}

header .search-header input {
  .border-radius(7px 0 0 7px);
}

header .search-header form, header .form-inline.pull-right {
  margin-bottom: 15px;
}

header .search-header input {
  border-color: #BDB9B8 #BDB9B8 #BDB9B8 #BDB9B8;
  &:focus {
  border-color: @blue #BFBABA @blue @blue !important;
  outline-style: none !important;
  .box-shadow(none);
  *border: 0; // Remove the border to prevent IE7's black border on input:focus
  }
}

header .search-header input:focus ~ button {
  border-color: @blue @blue @blue #BFBABA !important;
}

header .search-header button {
  @transition: border linear .2s, box-shadow linear .2s;
  .transition(@transition);
}

a.sign-up-now-btn, a.my-account-btn {
  display: inline-block;
  text-indent: -9999px;
  vertical-align: middle;
  outline: none;
  margin-top: -5px;
}

.my-account-btn {
  margin-left: 12px;
}

/** ref: https://github.com/twitter/bootstrap/issues/1436 */
#menu-my-account {
  .dropdown-menu {
    z-index: 1000002;
    // http://support.google.com/richmedia/bin/answer.py?hl=en&answer=1249219
  }

  &.open {
    .dropdown-toggle {
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }

  &:hover {
    .dropdown-toggle {
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }

    .dropdown-menu {
      display: block;
    }
  }

  .dropdown-menu {

    &:hover {
      display: block;
    }

    .border-radius(0);
    margin-top: -1px;
    min-width: 124px;
  }
}

.header-inner {
  padding: 15px 20px 0 15px;
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  .box-shadow(none);


  input {
    width: 305px;
    margin-bottom: 0;
    padding: 7px 0 6px 6px;
    font-size: 14px;
    line-height: 14px !important;
    color: @blueDark;
    border: 1px solid;
    border-color: #BDB9B8 #bfbaba #BDB9B8 #BDB9B8;
    .border-radius(7px 0 0 7px);
    .box-shadow(inset 2px 2px 2px 2px rgba(0, 0, 0, .07));
    &:-moz-placeholder {
      color: #999 !important;
    }
  }
  .btn-large {
    margin-left: -5px;
    padding: 7px 10px 8px;
    font-size: 14px;
    line-height: 16px !important;
    font-weight: bold;
    line-height: normal;
    color: #786767;
    #gradient > .vertical(#e1dede,#cecbcb);
    //#gradient > .vertical(#eae7e7,#ffffff);
    border-color: #BDB9B8 #BDB9B8 #BDB9B8;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .btn:hover {
    .transition(none);
    background: #e1dddd;
    background-position: 0;
    text-decoration: none;
  }
  .append-search-button {
    border-width: 1px;
    border-color: #BDB9B8 !important;
    .border-radius(0 7px 7px 0);
  }
}

.input-append .btn:last-child {
  border-radius: 0 7px 7px 0;
}

.right-section-header {
  float: right;
  text-align: right;
  padding-top: 2px;
}

.dd-menu-min-width {
  min-width: 123px;
}
