// HEADER
header {
	margin-bottom: 0;
}

.header-inner {
	background-color: transparent;
	background-image: none;
	border-radius: 0;
	box-shadow: none;
	padding: 15px 20px 0 15px;
}

header > .container {
	box-shadow: none;
}

// LOGO
.cq-logo {
	position: absolute;
	left: 15px;
	top: -38px;
	z-index: 1001;
}

.shopping_cart_inner {
	display: block;
	position: relative;
}
.shopping_cart {
	display: block;
}
#shopping_cart_count {
	position: relative;
	top:1px;
	left:9px;
	width: 16px;
	height: 14px;
	display: block;
	font:bold 10px/14px "Trebuchet", Arial, Helvetica;
	color: @white;
	background-color: @red;
	text-align: center;
}
.empty_cart {
	display:none!important;
}
a.link_cart{
	outline: none;
	vertical-align: middle;
	display: inline-block;
	.ie7-inline-block();
	&:hover {text-decoration: none; outline: 0;}
	&:focus {outline: 0;}
}


.nav-divider {
	border-right: 1px solid #b4b7bc;
	height: 23px;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	width: 1px;
	padding-left: 16px;
	padding-top: 2px;
}

.padding-signup {
	padding-left: 16px;
}

.input-prepend, .input-append {
	margin-bottom: 0;
}

header .search-header form, header .form-inline.pull-right {
	margin-bottom: 15px;
}
