@import "_variables.less";

// HEADER
header {
  margin-bottom: 0;
  border-left: 1px solid transparent;
  border-bottom: 1px solid #c4ccd2;
}

.header-inner {
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  box-shadow: none;
  padding: 15px 20px 0 15px;
}

header > .container {
  box-shadow: none;
}

// LOGO
.cq-logo {
  position: absolute;
  left: 18px;
  top: -37px;
  z-index: 1001;
}

.shopping-cart-inner {
  display: block;
  position: relative;
}

.shopping-cart {
  display: block;
}

#shopping-cart-count {
  position: relative;
  top: 1px;
  left: 9px;
  width: 16px;
  height: 14px;
  display: block;
  font: bold 10px/14px "Trebuchet", Arial, Helvetica;
  color: @white;
  background-color: @red;
  text-align: center;
}

.empty-cart {
  display: none !important;
}

a.link-cart {
  outline: none;
  vertical-align: middle;
  display: inline-block;
  .ie7-inline-block();
  &:hover {
    text-decoration: none;
    outline: 0;
  }
  &:focus {
    outline: 0;
  }
}

.nav-divider {
  border-right: 1px solid #b4b7bc;
  height: 23px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  margin: 0 15px;
}

.input-prepend, .input-append {
  margin-bottom: 0;
}

header .search-header form, header .form-inline.pull-right {
  margin-bottom: 15px;
}

a.sing-up-now-btn, a.my-account-btn {
  display: inline-block;
  text-indent: -9999px;
  vertical-align: middle;
  outline: none;
  margin-top: -5px;
}

.my-account-btn {
  margin-left: 12px;
}

.header-inner {

  .btn-large {
    padding: 8px 10px 8px;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    color: #786767;
    #gradient > .vertical(#e1dede,#cecbcb);
    .border-radius(7px);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .btn-large {
    margin-left: -5px;
    .border-radius(0 7px 7px 0);
  }
  .btn:hover {
    .transition(none);
    background: #e1dddd;
    background-position: 0;
    text-decoration: none;
  }
  input {
    width: 245px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 0;
    border: 1px solid #C3C7CB;
    .border-radius(7px 0 0 7px);
    .box-shadow(inset 2px 2px 2px 2px rgba(0, 0, 0, .07));
  }
}
