@import "_variables.less";

// NAVBAR (FIXED AND STATIC)
// -------------------------

// COMMON STYLES
// -------------
// TOP MENU

header {
  position: relative;
  //z-index: 400;

  .navbar {
    position: relative;
    //z-index: 500;
    margin-bottom: 0;
    border-top: 1px solid #4f83a0;
    border-right: 1px solid #062842;
  }

  .navbar-inner {
    min-height: 42px;
    padding-left: 0;
    padding-right: 20px;
    border: none;
    background: rgb(19, 89, 127); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE1NWY4NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk0JSIgc3RvcC1jb2xvcj0iIzEwNDg2NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNzJiNDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(19, 89, 127, 1) 0%, rgba(14, 67, 96, 1) 94%, rgba(7, 43, 68, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(19, 89, 127, 1)), color-stop(94%, rgba(14, 67, 96, 1)), color-stop(100%, rgba(7, 43, 68, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(19, 89, 127, 1) 0%, rgba(14, 67, 96, 1) 94%, rgba(7, 43, 68, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(19, 89, 127, 1) 0%, rgba(14, 67, 96, 1) 94%, rgba(7, 43, 68, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(19, 89, 127, 1) 0%, rgba(14, 67, 96, 1) 94%, rgba(7, 43, 68, 1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(19, 89, 127, 1) 0%, rgba(14, 67, 96, 1) 94%, rgba(7, 43, 68, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#13597f', endColorstr = '#0e4360', GradientType = 0); /* IE6-8 */
    .border-radius(0);
  }

  .navbar .container {
    width: 100%;
    float: left;
    clear: both;
    .box-shadow(none);
  }

  .navbar .nav > li {
    position: relative;
    right: 50%;
    float: left;
    margin-top: 1px;
    font: 18px Arial;
    font-weight: bold;
    text-transform: uppercase;
    border-left: 1px solid #033b74;
  }

// Links
  .navbar .nav > li > a {
    padding: 12px 16px 10px 16px;
    line-height: 20px;
    color: @navbarLinkColor;
    text-shadow: -1px -1px 1px rgba(42, 44, 42, 1);
  }

// Hover and Active
  .navbar .nav > li.active > a,
  .navbar .nav > li > a:hover {
    color: @navbarLinkColorHover;
    background: rgb(32, 147, 195); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIwOTNjMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk2JSIgc3RvcC1jb2xvcj0iIzA5NzFiYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzA0NDM3ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, rgba(32, 147, 195, 1) 0%, rgba(9, 113, 186, 1) 96%, rgba(4, 67, 126, 1) 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(32, 147, 195, 1)), color-stop(96%, rgba(9, 113, 186, 1)), color-stop(99%, rgba(4, 67, 126, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(32, 147, 195, 1) 0%, rgba(9, 113, 186, 1) 96%, rgba(4, 67, 126, 1) 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(32, 147, 195, 1) 0%, rgba(9, 113, 186, 1) 96%, rgba(4, 67, 126, 1) 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(32, 147, 195, 1) 0%, rgba(9, 113, 186, 1) 96%, rgba(4, 67, 126, 1) 99%); /* IE10+ */
    background: linear-gradient(top, rgba(32, 147, 195, 1) 0%, rgba(9, 113, 186, 1) 96%, rgba(4, 67, 126, 1) 99%); /* W3C */
    text-shadow: -1px 1px 1px rgba(42, 44, 42, 1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#2093c3', endColorstr = '#04437e', GradientType = 0); /* IE6-8 */
  }

  .dropdown-menu > li {
    font: 14px Arial;
    font-variant: normal;
  }

  .navbar .nav > li:first-child {
    border-left: none;
  }

  .navbar .nav {
    position: relative;
    left: 49%;
    float: left;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.home-icon-pos {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.dark-bg {
  overflow: hidden;
  margin-top: -1px;
  background: transparent url("@{baseUrl}/dark_gradient_effect_under_logo.png") left no-repeat;
}

.menu-wrapper {
  /*overflow: visible;*/
}


#profile-subnavbar {
  border-top: none;
  border-bottom: 1px solid #ada4a4;

  &.navbar {
    position: relative;
    margin-bottom: 0;
  }

  .navbar-inner {
    min-height: 27px;
    padding-right: 0;
    padding-left: 0;
    #gradient > .vertical(@brown, #766868);
    border: none;
    .border-radius(0);
    .box-shadow(none);
  }

  .container {
    float: left;
    width: 100%;
    clear: both;
    padding-left: 0;
    .box-shadow(none);
  }

  .nav > li {
    position: relative;
    float: left;
    margin-top: 1px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    border-right: 1px solid #4b3b3b;
  }

// Links
  .nav > li > a {
    padding: 7px 22px;
    line-height: 12px;
    color: @navbarLinkColor;
    text-shadow: none;

    sup {
      text-transform: none;
      color: @red;
      text-shadow: none;
    }
  }

// Hover and Active
  .nav > li.active > a,
  .nav > li > a:hover {
    color: @navbarLinkColorHover;
    background: rgb(118, 104, 104); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIwOTNjMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk2JSIgc3RvcC1jb2xvcj0iIzA5NzFiYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzA0NDM3ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, rgba(32, 147, 195, 1) 0%, rgba(9, 113, 186, 1) 96%, rgba(4, 67, 126, 1) 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(32, 147, 195, 1)), color-stop(96%, rgba(9, 113, 186, 1)), color-stop(99%, rgba(4, 67, 126, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(32, 147, 195, 1) 0%, rgba(9, 113, 186, 1) 96%, rgba(4, 67, 126, 1) 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(32, 147, 195, 1) 0%, rgba(9, 113, 186, 1) 96%, rgba(4, 67, 126, 1) 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(32, 147, 195, 1) 0%, rgba(9, 113, 186, 1) 96%, rgba(4, 67, 126, 1) 99%); /* IE10+ */
    background: linear-gradient(top, rgba(32, 147, 195, 1) 0%, rgba(9, 113, 186, 1) 96%, rgba(4, 67, 126, 1) 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#2093c3', endColorstr = '#04437e', GradientType = 0); /* IE6-8 */
    text-shadow: -1px 1px 1px rgba(42, 44, 42, 1);
  }

  .dropdown-menu
    & > li {
    font: 12px Arial;
    font-variant: normal;
  }

  .dropdown .caret {
    margin-top: 5px;
    border-color: @brown;
  }

  .navbar .nav > li:first-child {
    border-left: none;
  }

  .navbar .nav {
    position: relative;
    float: left;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.menu-wrapper-social-icons {
  position: absolute;
  top: 0;
  right: 0;
  .size(25px, 194px);
  padding-top: 9px;

  span.white {
    display: inline-block;
    vertical-align: top;
    padding-top: 4px;
  }
}

.s-24-icon-facebook, .s-24-icon-twitter,
.s-24-icon-pinterest, .s-24-icon-google {
  display: inline-block;
  margin-left: 3px;
}


#sidebar {
  .nav-list li {
    > a {
      padding-left: 37px;
    }

    &.active a {
      padding-left: 15px;
    }
  }
}
