// .custom-font(20px, 20px, italic, bold);
.custom-font(@size, @lineHeight, @style: normal, @weight: normal){
  font-size: @size;
  line-height: @lineHeight;
  font-style: @style;
  font-weight: @weight;
}

.smooth-font(@deg: 0.000475deg) {
	-webkit-transform: rotate(@deg);
     -moz-transform: rotate(@deg);
      -ms-transform: rotate(@deg);
       -o-transform: rotate(@deg);
          transform: rotate(@deg);
}

.min-height(@height) {
	height: auto !important;
	height: @height;
	max-height: @height;
}

.margin-auto(){
	margin-left: auto;
	margin-right: auto;
}
