@import "_variables.less";
@import "_mixins.less";

// Fixed wrapper under 1024px
@media (max-width: 767px) {


// Padding to set content in a bit
  body {
    padding-left: 5px;
    padding-right: 5px;
  }

// Remove padding on container given explicit padding set on body
  .container-fluid {
    padding: 0;
  }

// TYPOGRAPHY
// ----------
// Reset horizontal dl
  .dl-horizontal {
    dt {
      float: none;
      clear: none;
      width: auto;
      text-align: left;
    }
    dd {
      margin-left: 0;
    }
  }

// GRID & CONTAINERS
// -----------------
// Remove width from containers
  .container {
    width: auto;
  }
// Fluid rows
  .row-fluid {
    width: 100%;
  }


// FORM FIELDS
// -----------
// Make span* classes full width
  .input-large,
  .input-xlarge,
  .input-xxlarge,
  input[class*="span"],
  select[class*="span"],
  textarea[class*="span"],
  .uneditable-input {
    .input-block-level();
  }
// But don't let it screw up prepend/append inputs
  .input-prepend input,
  .input-append input,
  .input-prepend input[class*="span"],
  .input-append input[class*="span"] {
    display: inline-block; // redeclare so they don't wrap to new lines
    width: auto;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 0;
  }

// Modals
  .modal {
    position: fixed;
    top:   20px;
    left:  20px;
    right: 20px;
    width: auto;
    margin: 0;
    &.fade.in { top: auto; }
  }


//CONTAINERS & SIDEBAR
header, nav, footer, #footer-links,
.slots-container, .shadow,
#slot1, #slot2, .container-fluid.fixed-right-300  {
  width: 580px;
  .margin-auto();
}

#main, #breadcrumbs {
  width: 560px;
  margin-left: 10px;
  margin-right: 10px;
}

.fixed-right-300 > #sidebar {
  width: 560px;
  .margin-auto();
  padding: 0 10px;
}

#content, .navbar, #breadcrumbs {
  border: none;
}

#breadcrumbs {
  margin-bottom: 8px;
}

#content {
  padding-top: 0;
}


//Collectibles
#user-collectibles-for-sale .thumbnails {
  margin-left: -5px;

  .span3 {
    width: 126px !important;
    margin-left: 5px;
  }
}

//HEADER & NAV

.cq-logo {
  top: 8px;
}

header {
  .search-header {
  margin-top: 18px;
  }

  .header-inner {
    .row-fluid [class*="span"] {
      float: none;
      display: block;
      width: 100%;
      margin-left: 0;
      .box-sizing(border-box);
    }
  }
}

//search input
.search-header .input-append input {
  width: 230px;
}

header .navbar-inner {
  padding: 0;

  .container {
    padding: 0;
  }

}

header .navbar .nav > li > a {
  padding: 12px 10px 10px 10px;
}

.menu-wrapper-social-icons {
  display: none; //NB!!
}

//FOOTER

  .footer-inner > [class*="span"] {
    .clearfix();
  }

  .footer-social-icons {
    margin-bottom: 10px;
  }

//ELEMENTS

//Comments
.collector-info-sidebar {
  > span3 {
    float: left;
  }
}

.post-comment textarea {
  width: 70%; //NB!!
}

//Vertical carousel
.vertical-carousel-wrapper {
  .ui-carousel-navigation.up-arrow, .ui-carousel-navigation.down-arrow {
    display: block;
  }
}



//PAGES
#sidebar #price-container {
  display: none;
}

.main-collectible-container .prev-zone .prev-btn {
  display: block;
}

.main-collectible-container .next-zone .next-btn {
  display: block;
}



}
