@import "_variables.less";

// basic body
body {
  background: #ecebec url("@{baseUrl}/background-pattern.png") repeat;
  color: #125375;
}

a {
  color: @linkColor;
  text-decoration: none;

  &:hover {
    color: @linkColorHover;
    text-decoration: none;
  }
}

h1 {
  .custom-font(24px, 30px, normal, normal);
  .smooth-font();

  small {
    font-size: 16px;
  }
}

h2 {
  .custom-font(22px, 36px, normal, normal);
  .smooth-font();

  small {
    font-size: 14px;
  }
}

h3 {
  font-size: 18px;
  line-height: @baseLineHeight * 1.5;
  color: @blueDark;
  small {
    font-size: 14px;
  }
}

h4, h5, h6 {
  line-height: @baseLineHeight;
}
h4 {
  font-size: 14px;
  small {
    font-size: 12px;
  }
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 11px;
  color: @grayLight;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

small {
  font-size: 10px;
}

// FONTS
.Chivo {
  font-family: 'Chivo', @sansFontFamily;
}

// SELECTION STYLE
::selection {
  background: #D9EBF5;
}

::-moz-selection {
  background: #D9EBF5;
}

::-webkit-selection {
  background: #D9EBF5;
}

//INPUTS

input[class*="span"] {
  min-height: @baseLineHeight;
}

// WRAPPER, COLUMNS
#main {
  float: left;
  width: 100%;
  min-height: 500px;
}

.without-column
  & > #main {
  float: none;
}

#content {
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 0;
  border-left: 1px solid #ededed;
  background-color: @white;
}

//SLOTS
#slot1 {
  position: relative;
  margin: 0 auto;
  background-color: @white;
  .clearfix();

  .slot1-inner {
    padding: 40px 15px 0;
  }
  .slot1-inner-mycq {
    margin: 0 20px;
    .clearfix();

    .span12 {
      margin-bottom: 20px;
    }
  }
}

#slot2 {
  position: relative;
  margin: 0 auto;
  background-color: @white;
  .clearfix();

  .slot2-inner {
    padding: 0 20px;
  }
}

.slots-container {
  border-left: 1px solid #ededed;
}
