@import "_variables.less";

#sidebar {
//  overflow: hidden;
}

.fixed-right-300 {
  padding-right: 339px;

  .wrapper {
    background: url(/images/frontend/sidebar-background.png) center repeat-y;
    width: 300px;
    padding: 0 10px;
    padding-top: 10px;
    padding-bottom: 1px;
    margin: 0 -10px;
    margin-top: 20px;

    div.row-fluid:first-child, div.collector-info-sidebar:first-child {
      margin-top: 0;
    }

    div.carousel-sidebar:last-child {
      margin-bottom: 0 !important;
    }
  }

  .wrapper:first-child {
    margin-top: 0;
  }
}

.fixed-right-300 > #sidebar {
  position: relative;
  float: left;
  width: 300px;
  margin-right: -320px;
  margin-left: 20px;
}

.fixed-right-120 {
  padding-right: 159px;
}

.fixed-right-120 > #sidebar {
  position: relative;
  float: left;
  width: 120px;
  margin-right: -140px;
  margin-left: 20px;
}

.fixed-right-160 {
  padding-right: 199px;
}

.fixed-right-160 > #sidebar {
  position: relative;
  float: left;
  width: 160px;
  margin-right: -199px;
  margin-left: 20px;
}

.fixed-right-180 {
  padding-right: 219px;
}

.fixed-right-180 > #sidebar {
  position: relative;
  float: left;
  width: 180px;
  margin-right: -200px;
  margin-left: 20px;
}

.container-fluid, .container {
  padding-left: 20px;
}

.container-fluid.without-column, .container.without-column {
  padding-right: 20px;
}

.sidebar-title {
  margin-top: 25px;
  margin-bottom: 10px;
  background: url("@{baseUrl}/red-dotted-line.png") repeat-x bottom;

  h3 {
    .custom-font(20px, 22px, italic, normal);
    letter-spacing: 0.01em;
    color: @red;
    .smooth-font();
  }

  .span3, .span4 {
    text-align: right;
  }
}

.red-dashes-sidebar {
  margin-top: 10px;
  margin-bottom: 8px;
  background: url("@{baseUrl}/red-dotted-line.png") repeat-x bottom;
  padding-bottom: 0;
}

#sidebar div[class*="sidebar-title"]:first-child {
  margin-top: 0;
}

// Tags
.tags-container-sidebar {
  .clearfix();

  .tags {
    display: inline-block;
    max-width: 270px;
    margin-right: 10px;
    margin-bottom: 7px;
    padding: 6px 14px 6px;
    vertical-align: middle;
    line-height: 14px;
    color: @brown;
    word-wrap: break-word;
    background-color: @grayNormal;
    .border-radius(5px);
  }

  a {
    &.tags:hover {
      color: @red;
      text-decoration: none;
      background-color: #e2b6b6;
      cursor: pointer;
    }
  }
}

//
#collections-of-interest {
  margin-top: 15px;
}

.collection-container {
  margin-bottom: 16px;
}

.sidebar-videos {
  padding: 5px 10px 10px 10px;

  .title {
    display: block;
    overflow: hidden;
    max-height: 28px;
    margin-bottom: 5px;
    font-size: @baseFontSize - 1;
    font-weight: bold;
    line-height: 14px;
    color: @blue;

  }
  .content {
    display: block;
    overflow: hidden;
    max-height: 50px;
    font-size: @baseFontSize - 1;
    line-height: 17px;
    color: @blueDark;
  }
  .updated-at {
    display: block;
    font-size: @baseFontSize - 2;
    color: @brown;
  }
}

.max-height-video-box-sidebar {
  .min-height(90px);
  overflow: hidden;
}

.clip-inner {
  .size(90px, 120px);
  position: relative;
}

.clip-inner img {
  float: left;
}

.sidebar-video-play-button {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 10;
  .square(100%);
  background: transparent url("@{baseUrl}/play-button.png") no-repeat center center;
}

#programming-notes {
  padding: 2px 0 15px 0;
  font-size: @baseFontSize - 1;

  .row-fluid {
    margin-bottom: 10px;
  }
  .content-container {
    padding-top: 8px;
    padding-left: 4px;
  }
  p {
    margin-bottom: 0;
    font-size: @baseFontSize - 1;
    line-height: 14px;
    color: @blueDark;
  }
  a {
    font-size: @baseFontSize - 1;
    color: @blue;
  }
  .fix-height-text-block {
    max-height: 90px;
    overflow: hidden;
  }
}

#items-for-sale-sidebar {
  .thumbnails {
    .span3 {
      border: 1px solid @boxBorder;
      background: @white;
      width: 132px;
      margin-bottom: 15px;
      font-size: 12px;
      .box-shadow(none);
      .border-radius(0);

      &:hover {
        background-color: white;
        border: 1px solid @blue;
        .border-radius(0);
      }
      p {
        font-size: 12px;
        margin-bottom: 2px;
        padding: 5px 2px 0 2px;
        .text-overflow();
      }
      span {
        font-weight: bold;
        color: @blueDark;
        display: block;
        text-align: right;
        padding-right: 2px;
      }
    }
  }

  .well {
    padding: 10px;
    padding-bottom: 5px;
  }
}


//banners
.banner-sidebar-top {
  margin-bottom: 35px;
}

.banner-sidebar-promo-300-90 {
  margin-bottom: 30px;

  span {

    display: block;
    .size(14px, 100%);
    padding-top: 2px;
    padding-bottom: 6px;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    letter-spacing: -0.4px;
    text-align: center;
    color: white;
    background-color: #0a82c2;
  }
  &:hover span {
    #gradient > .vertical(#d22020, #b30101);
  }
}

.banner-sidebar-promo-620-67 {
  padding-bottom: 30px;
  display: block;
  margin: auto;
  width: 620px;
  height: 67px;
}


//PMs - sidebar

.send-pm {
  background-color: #C2E0F0;
  padding: 6px;
  .clearfix();

  .buttons-container {
    display: none;
    margin: 10px 0 5px 0;
    text-align: right;
  }
  textarea {
    width: 274px;
    margin-bottom: 0;
  }
}

#body-mycq-collectible .send-pm textarea {
  width: 270px;
}

//

.thumbnails-box-1x4-sidebar {
  margin-top: 10px;

  .inner-thumbnails-box > p {
  line-height: 13px;
  }

  .thumb-container {
    margin-right: -6px;
    .clearfix();
  }
  .thumbnails54 {
    display: block;
    float: left;
    .square(54px);
    margin-right: 0;
    padding: 2px;
    &:hover {
      padding: 1px;
      border: 1px solid @blue;
    }
  }
  .thumbnails60 {
    display: block;
    float: left;
    .square(60px);
    margin-right: 5px;
    padding: 3px;
    &:hover {
      padding: 2px;
      border: 1px solid @blue;
    }
  }
}

.thumbnails-box-1x4-sidebar.bgyellow-noborder {
  background-color: @yellowLight;
  .inner-thumbnails-box {
    padding: 8px 6px;
  }
}
.thumbnails-box-1x4-sidebar.bgyellow-border {
  background-color: #fff;
  border: 1px solid #dcd7d7;
  .inner-thumbnails-box {
    padding: 10px;
  }
}

//WELL
#sidebar .well {
  padding-top: 7px;
}

.wrench-well-icon {
  display: block;
}
