@import "_variables.less";

.logo, .s-16-icon-google, .s-16-icon-twitter, .s-16-icon-pinterest, .s-16-icon-facebook, .s-16-icon-youtube, .sing-up-now-red, .big-add-icon, .big-add-icon, .big-battery-icon, .big-box-icon, .big-email-icon, .big-organize-icon, .big-piggy-bank-icon, .shopping-cart, .button-carousel-next, .button-carousel-previous, .big-question-icon, .my-account-btn, .remove-item, .upload-photo, .mail-icon-mini, .add-icon-medium, .share-icon-medium, .add-to-card-button, .add-new-items-button, .gray-arrow, .add-white-icon, .checkbox-arrow, .gray-arrow-up, .arrow-l-r, .grid-view, .list_view, .buy-credits-button, .remove-collectible, .btn-cq-left, .btn-cq-right {
	background: url("@{baseUrl}/sprites.png") no-repeat;
}

.logo{
	background-position: 0 0;
	.size(102px, 220px);
}

.s-16-icon-google, .s-16-icon-twitter, .s-16-icon-pinterest, .s-16-icon-facebook{
	display: block;
	display: inline-block;
	.ie7-inline-block();
}
.s-16-icon-facebook{
	background-position: -400px 0;
	.square(16px);
}

.s-16-icon-google{
	background-position: -400px -25px ;
	.square(16px);
}

.s-16-icon-pinterest{
	background-position: -400px -50px ;
	.square(16px);
}

.s-16-icon-twitter{
	background-position: -401px -75px ;
	.square(16px);
}

.s-16-icon-youtube{
	background-position: -430px 0;
	.square(16px);
}

.sing-up-now-red{
	background-position: 0 -110px;
	.size(37px, 120px);
}

.sing-up-now-red:hover{
	background-position: 0 -150px;
	.size(37px, 120px);
}

.my-account-btn{
	background-position: 0 -195px;
	.size(33px, 116px);
}

.my-account-btn:hover{
	background-position: 0 -235px;
}

.big-add-icon{
	background-position: -220px -100px;
	.size(46px, 52px);
}

.big-battery-icon{
	background-position: -275px -50px;
	.size(46px, 52px);
}

.big-box-icon{
	background-position: -220px 0;
	.size(46px, 52px);
}

.big-email-icon{
	background-position: -275px -100px;
	.size(46px, 52px);
}

.big-question-icon{
	background-position: -275px 0;
	.size(46px, 52px);
}


.big-organize-icon{
	background-position: -220px -150px;
	.size(46px, 52px);
}

.big-piggy-bank-icon{
	background-position: -220px -50px;
	.size(46px, 52px);
}

.shopping-cart{
	background-position: -400px -100px;
	.size(30px, 32px);
}

.button-carousel-previous:hover{
	background-position: -330px -40px;
	.size(36px, 26px);
}

.button-carousel-next{
	background-position: -360px 0;
	.size(36px, 26px);
}

.button-carousel-next:hover{
	background-position: -360px -40px;
	.size(36px, 26px);
}

.button-carousel-previous{
	background-position: -330px 0;
	.size(36px, 26px);
}

.remove-item{
	background-position: -400px -140px;
	.square(16px);
}

.remove-item:hover {
	background-position: -400px -156px;
	.square(16px);
}

.upload-photo{
	background-position: -400px -180px;
	.size(16px, 20px);
}

.upload-photo:hover{
	background-position: -400px -200px;
}

.mail-icon-mini{
	background-position: -425px -140px;
	.size(9px, 11px);
}

.btn-lightblue:hover .mail-icon-mini, .btn-lightblue-normal:hover .mail-icon-mini{
	background-position: -425px -155px;
}

.btn-lightblue:hover .share-icon-medium{
	background-position: -425px -185px;
}


.add-icon-medium{
	background-position: -424px -200px;
	.square(12px);
}

.btn-lightblue-medium:hover .add-icon-medium, .btn-lightblue:hover .add-icon-medium{
	background-position: -424px -215px;
}

.share-icon-medium{
	background-position: -425px -170px;
	.square(12px);
}

.add-to-card-button{
	background-position: -400px -240px;
	.size(18px, 20px);
}

.add-new-items-button{
	background-position: 0 -338px;
	.size(29px, 193px);

	&:hover {
		background-position: 0 -309px;
	}
	&:active {
		background-position: 0 -280px;
	}
}

.gray-arrow{
	background-position: -280px -150px;
	.size(38px, 40px);
}

.add-white-icon{
	background-position: -142px -118px;
	//.size(36px, 43px);
}

.checkbox-arrow{
	background-position: -400px -280px;
	.size(20px, 13px);
}

.gray-arrow-up{
	background-position: -280px -200px;
	.size(38px, 40px);
	display: block;
}

.arrow-l-r{
	background-position: -400px -315px;
	.size(20px, 13px);
}

.grid-view{
	background-position: -233px -280px;
	.square(28px);

	&:hover {
		background-position: -261px -280px;
	}
	&:active {
		background-position: -205px -280px;
	}
	&.active {
		background-position: -205px -280px;
	}
}


.list_view{
	background-position: -328px -280px;
	.square(28px);

	&:hover {
		background-position: -356px -280px;
	}
	&:active {
		background-position: -300px -280px;
	}
	&.active {
		background-position: -300px -280px;
	}
}

.buy-credits-button{
	background-position: 0 -428px;
	.size(29px, 192px);

	&:hover {
		background-position: 0 -399px;
	}
	&:active {
		background-position: 0 -370px;
	}
}

.remove-collectible{
	background-position: -430px -290px;
	.size(10px, 12px);
}

.btn-cq-left{
	background-position: 0 -465px ;
}

.btn-cq-right{
	background-position: -360px -465px ;
}
