@import "_variables.less";

.logo, .s-16-icon-facebook, .s-16-icon-google, .s-16-icon-twitter, .s-16-icon-pinterest, .sing-up-now-red, .big-add-icon, .big-add-icon, .big-battery-icon, .big-box-icon, .big-email-icon, .big-organize-icon, .big-piggy-bank-icon, .shopping-cart, .button-carousel-next, .button-carousel-previous, .big-question-icon, .my-account-btn, .remove-item, .upload-photo, .mail-icon-mini, .add-icon-middle, .share-icon-middle {
	background: url("@{baseUrl}/sprites.png") no-repeat;
}

.logo{
	background-position: 0 0;
	.size(102px, 220px);
}

.s-16-icon-facebook, .s-16-icon-google, .s-16-icon-twitter, .s-16-icon-pinterest {
	display: block;
	display: inline-block;
	.ie7-inline-block();
}
.s-16-icon-facebook{
	background-position: -400px 0;
	.square(16px);
}

.s-16-icon-google{
	background-position: -400px -25px ;
	.square(16px);
}

.s-16-icon-twitter{
	background-position: -400px -50px ;
	.square(16px);
}

.s-16-icon-pinterest{
	background-position: -400px -75px ;
	.square(16px);
}

.sing-up-now-red{
	background-position: 0 -110px ;
	.size(37px, 120px);
}

.sing-up-now-red:hover{
	background-position: 0 -150px ;
	.size(37px, 120px);
}

.my-account-btn{
	background-position: 0 -195px ;
	width: 116px;
	height: 33px;
}

.my-account-btn:hover{
	background-position: 0 -235px ;
	width: 116px;
	height: 33px;
}

.big-add-icon{
	background-position: -220px -100px ;
	.size(46px, 52px);
}

.big-battery-icon{
	background-position: -275px -50px ;
	.size(46px, 52px);
}

.big-box-icon{
	background-position: -220px 0;
	.size(46px, 52px);
}

.big-email-icon{
	background-position: -275px -100px ;
	.size(46px, 52px);
}

.big-question-icon{
	background-position: -275px 0;
	.size(46px, 52px);
}


.big-organize-icon{
	background-position: -220px -150px ;
	.size(46px, 52px);
}

.big-piggy-bank-icon{
	background-position: -220px -50px ;
	.size(46px, 52px);
}

.shopping-cart{
	background-position: -400px -100px ;
	.size(30px, 32px);
}

.button-carousel-previous:hover{
	background-position: -330px -40px ;
	.size(36px, 26px);
}

.button-carousel-next{
	background-position: -360px 0;
	.size(36px, 26px);
}

.button-carousel-next:hover{
	background-position: -360px -40px ;
	.size(36px, 26px);
}

.button-carousel-previous{
	background-position: -330px 0;
	.size(36px, 26px);
}

.remove-item{
	background-position: -400px -140px;
	.square(16px);
}

.remove-item:hover {
	background-position: -400px -156px;
	.square(16px);
}

.upload-photo{
	background-position: -400px -180px ;
	.size(16px, 20px);
}

.upload-photo:hover{
	background-position: -400px -200px ;
}

.mail-icon-mini{
	background-position: -425px -140px ;
	.size(9px, 11px);
}

.btn-lightblue:hover .mail-icon-mini{
	background-position: -425px -155px ;
}

.add-icon-middle{
	background-position: -424px -200px ;
	.square(12px);
}

.btn-lightblue:hover .share-icon-middle{
	background-position: -425px -185px ;
}

.share-icon-middle{
	background-position: -425px -170px ;
	.square(12px);
}

.btn-lightblue:hover .add-icon-middle{
	background-position: -424px -215px ;
}
