//DON'T TOUCH ANYTHING











//Unused
#show-items {

	.row {
		margin-left: 0;
	}
	.span4 {
		.square(190px);
		margin: 20px 0 0 25px;
	}
	.thumbnails {
		margin-left: -25px;
		margin-bottom: 0;
	}
	.thumbnail {
		.border-radius(0);
		.box-shadow(none);
		border: none;
		padding: 0;
	}
}

//BUTTONS
.btn-big {
	padding: 5px 10px;
	font-size: @baseFontSize + 3px;
	line-height: normal; //	#gradient > .directional(@startColor, @endColor, @deg)
}










