@import "bootstrap/utilities.less";

.dn {
  display: none;
}

.clear-both {
  clear: both;
}

.block {
  display: block;
}

.relative {
  position: relative;
}

.over {
  cursor: pointer;
}

.rounded {
  .border-radius(6px);
}

.rounded-top {
  .border-radius(6px 6px 0 0);
}

.rounded-bottom {
  .border-radius(0 0 6px 6px);
}

.not-rounded {
  .border-radius(0);
}

.h-center {
  margin: 0 auto;
}

.v-center-container {
  display: table;
}

.v-center-container-label {
  display: table !important;
  width: 71px !important;
  height: 28px;
}

.v-center {
  display: table-cell;
  vertical-align: middle;
}

.text-v-middle {
  vertical-align: bottom;
}

.text-v {
  vertical-align: middle;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

.text-normal {
  font-weight: normal;
}

.text-bold {
  font-weight: bold;
}

.text-word-wrap {
  word-wrap: break-word;
}

.text-nowrap {
  white-space: nowrap;
}

.table-no-borders {
  td {
    border-top: none;
  }
}

.f-14 {  font-size: 14px;}
.f-16 {  font-size: 16px;}
.f-18 {  font-size: 18px;}
.f-20 {  font-size: 20px;}
.f-22 {  font-size: 22px;}
.f-24 {  font-size: 24px;}

.fixed {
  position: fixed;
}

// Spacers
.spacer                  {margin: 10px 0;}
.spacer-7                {margin:  7px 0;}
.spacer-12               {margin: 12px 0;}
.spacer-15               {margin: 15px 0;}
.spacer-20               {margin: 20px 0;}
.spacer-25               {margin: 25px 0;}
.spacer-30               {margin: 30px 0;}
.spacer-35               {margin: 35px 0;}

.spacer-top              {margin-top: 10px!important;}
.spacer-top-5            {margin-top:  5px;}
.spacer-top-15           {margin-top: 15px;}
.spacer-top-20           {margin-top: 20px!important;}
.spacer-top-25           {margin-top: 25px;}
.spacer-top-30           {margin-top: 30px;}
.spacer-top-35           {margin-top: 35px;}
.spacer-top-40           {margin-top: 40px!important;}
.spacer-top-reset        {margin-top: 0!important;}

.spacer-left             {margin-left: 10px;}
.spacer-left-5           {margin-left:  5px;}
.spacer-left-15          {margin-left: 15px;}
.spacer-left-20          {margin-left: 20px;}
.spacer-left-25          {margin-left: 25px;}
.spacer-left-30          {margin-left: 30px;}
.spacer-left-35          {margin-left: 35px;}
.spacer-left-40          {margin-left: 40px;}
.spacer-left-reset       {margin-left: 0!important;}

.spacer-right            {margin-right: 10px;}
.spacer-right-5          {margin-right:  5px;}
.spacer-right-15         {margin-right: 15px;}
.spacer-right-20         {margin-right: 20px;}
.spacer-right-25         {margin-right: 25px;}
.spacer-right-30         {margin-right: 30px;}
.spacer-right-35         {margin-right: 35px;}
.spacer-right-40         {margin-right: 40px;}
.spacer-right-reset      {margin-right: 0!important;}

.spacer-bottom           {margin-bottom: 10px;}
.spacer-bottom-5         {margin-bottom:  5px!important;}
.spacer-bottom-15        {margin-bottom: 15px!important;}
.spacer-bottom-20        {margin-bottom: 20px;}
.spacer-bottom-25        {margin-bottom: 25px;}
.spacer-bottom-30        {margin-bottom: 30px;}
.spacer-bottom-reset     {margin-bottom: 0!important;}

.spacer-inner            {padding: 10px 0!important;}
.spacer-inner-8          {padding:  8px 0!important;}
.spacer-inner-15         {padding: 15px 0!important;}
.spacer-inner-20         {padding: 20px 0!important;}
.spacer-inner-25         {padding: 25px 0!important;}
.spacer-inner-30         {padding: 30px 0!important;}

.spacer-inner-top        {padding-top: 10px;}
.spacer-inner-top-7      {padding-top:  7px;}
.spacer-inner-top-15     {padding-top: 15px;}
.spacer-inner-top-20     {padding-top: 20px;}
.spacer-inner-top-25     {padding-top: 25px;}
.spacer-inner-top-30     {padding-top: 30px;}
.spacer-inner-top-reset  {padding-top:  0!important;}

.spacer-inner-left       {padding-left: 10px;}
.spacer-inner-left-7     {padding-left:  7px;}
.spacer-inner-left-15    {padding-left: 15px;}
.spacer-inner-left-20    {padding-left: 20px;}
.spacer-inner-left-25    {padding-left: 25px;}
.spacer-inner-left-30    {padding-left: 30px;}
.spacer-inner-left-reset {padding-left:  0!important;}

.spacer-inner-right      {padding-right: 10px;}
.spacer-inner-right-7    {padding-right:  7px;}
.spacer-inner-right-15   {padding-right: 15px;}
.spacer-inner-right-20   {padding-right: 20px;}
.spacer-inner-right-25   {padding-right: 25px;}
.spacer-inner-right-30   {padding-right: 30px;}
.spacer-inner-right-reset{padding-right:  0!important;}

.spacer-inner-bottom     {padding-bottom: 10px;}
.spacer-inner-bottom-5   {padding-bottom:  5px;}
.spacer-inner-bottom-15  {padding-bottom: 15px;}
.spacer-inner-bottom-20  {padding-bottom: 20px;}
.spacer-inner-bottom-25  {padding-bottom: 25px;}
.spacer-inner-bottom-30  {padding-bottom: 30px;}
.spacer-inner-bottom-reset{padding-right:  0!important;}

.reset-t-b-margin  {margin-top:  0 !important; margin-bottom: 0 !important;}
.reset-t-b-padding {margin-top:  0 !important; margin-bottom: 0 !important;}

//column list
.twocolumn ul {
  margin-left: 0;
  margin-bottom: 0;
  list-style-type: none;

  li a {
    font-size: 12px;
  }
}

.csscolumns .twocolumn {
  -moz-column-count: 2;
  -moz-column-gap: 10px;
  -webkit-column-count: 2;
  -webkit-column-gap: 10px;
  column-count: 2;
  column-gap: 10px;
}

.no-csscolumns .twocolumn ul li {
  display: inline;
  float: left;
  width: 50%;
  line-height: 1.5em;
}
