@import "bootstrap/variables.less";

@baseUrl: "/images/frontend";
@iconUrl: "/images/icons";

// Colors
// -------------------------
@blue:                          #0a82c2;
@blueDark:                      #125375;
@brown:                         #887777;
@red:                           #cc0000;
@yellowLight:                   #fff5d5;
@yellowSolarized:               #fcf8e8;
@yellowHighlight:               #fffaea;
@yellowBackground:              #fff8e0;
@boxBorder:                     #aea3a3;
@boxBorder2:                    #d9d2cc;

// Alerts
// -------------------------
@warningBackground:             @yellowBackground;
@warningText:                   @blueDark;

// Links
// -------------------------
@linkColor:                     @blue;
@linkColorHover:                @red;

// Typography
// -------------------------
@sansFontFamily:                Arial, "Helvetica Neue", Helvetica, sans-serif;
@monoFontFamily:                Menlo, Monaco, "Courier New", monospace;
@baseFontSize:                  13px;
@baseLineHeight:                18px;

// Buttons
// -------------------------
@btnBorder:                     #b5b7bd;
@btnPrimaryBackgroundHighlight: #086ea4;

// Forms
// -------------------------
@inputBackground:               @white;
@inputBorder:                   #ccc;
@inputBorderRadius:             3px;
@inputDisabledBackground:       @grayLighter;
@formActionsBackground:         #f5f5f5;

// Sprite icons path
// -------------------------
@iconSpritePath:                "/assets/images/glyphicons-halflings.png?1";
@iconWhiteSpritePath:           "/assets/images/glyphicons-halflings-white.png?1";
@fontAwesomePath:               "/css/frontend/fonts";

// Navbar
// -------------------------
@navbarCollapseWidth:           979px;

@navbarHeight:                  40px;
@navbarBackground:              darken(@navbarBackgroundHighlight, 5%);
@navbarBackgroundHighlight:     #ffffff;
@navbarBorder:                  darken(@navbarBackground, 12%);

@navbarText:                    @gray;
@navbarLinkColor:               @white;
@navbarLinkColorHover:          @white;
@navbarLinkColorActive:         @white;
@navbarLinkBackgroundHover:     transparent;
@navbarLinkBackgroundActive:    darken(@navbarBackground, 5%);

@navbarBrandColor:              @navbarLinkColor;

// Backgrounds
// -------------------------
@grayNormal:                    #e7e4e4;
@lightBlue:                     #e6f2f9;

// Default 940px grid
// -------------------------
@gridColumnWidth:               37.75px;
@gridGutterWidth:               15px;

//Tabs
// -------------------------
@tabsBorderColor:               #c1c1c1;

// Pagination
// -------------------------
@paginationBackground:          @lightBlue;
@paginationBorder:              transparent;
@paginationActiveBackground:    #d4dbe1;
