@import "bootstrap/variables.less";

@baseUrl: "/images/frontend";
@iconUrl: "/images/icons";

// Colors
// -------------------------
@blue:              #0A82C2;
@blueDark:          #125375;
@brown:             #887777;
@red:               #CC0000;
@yellowLight:       #FFF5D5;
@yellowSolarized:   #FCF8E8;
@yellowHighlight:   #fffaea;
@yellowBackground:  #fff8e0;
@boxBorder:         #aea3a3;
@boxBorder2:        #d9d2cc;

//Gradients
// -------------------------
.blue-gradient {
	background: rgb(32, 147, 195); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIwOTNjMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk2JSIgc3RvcC1jb2xvcj0iIzA5NzFiYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzA0NDM3ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top, rgba(32, 147, 195, 1) 0%, rgba(9, 113, 186, 1) 96%, rgba(4, 67, 126, 1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(32, 147, 195, 1)), color-stop(96%, rgba(9, 113, 186, 1)), color-stop(99%, rgba(4, 67, 126, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(32, 147, 195, 1) 0%, rgba(9, 113, 186, 1) 96%, rgba(4, 67, 126, 1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(32, 147, 195, 1) 0%, rgba(9, 113, 186, 1) 96%, rgba(4, 67, 126, 1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(32, 147, 195, 1) 0%, rgba(9, 113, 186, 1) 96%, rgba(4, 67, 126, 1) 99%); /* IE10+ */
	background: linear-gradient(top, rgba(32, 147, 195, 1) 0%, rgba(9, 113, 186, 1) 96%, rgba(4, 67, 126, 1) 99%); /* W3C */
	text-shadow: -1px 1px 1px rgba(42, 44, 42, 1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#2093c3', endColorstr = '#04437e', GradientType = 0); /* IE6-8 */
}

// Links
// -------------------------
@linkColor:         @blue;
@linkColorHover:    @red;


// Typography
// -------------------------
@sansFontFamily:    Arial, "Helvetica Neue", Helvetica, sans-serif;
@monoFontFamily:    Menlo, Monaco, "Courier New", monospace;

// Buttons
// -------------------------
@btnBorder:                         #B5B7BD;
@btnPrimaryBackgroundHighlight:     #086ea4;


// Sprite icons path
// -------------------------
@iconSpritePath:          "/assets/images/glyphicons-halflings.png";
@iconWhiteSpritePath:     "/assets/images/glyphicons-halflings-white.png";
@fontAwesomePath:         "/assets/fonts";

// Navbar
// -------------------------
@navbarLinkColor:                 @white;
@navbarLinkColorActive:           @white;
@navbatLinkSubmenuColor:          @blueDark;

// Backgrounds
// -------------------------
@grayNormal:      #e7e4e4;
@lightBlue:       #e6f2f9;

// Default 940px grid
// -------------------------
@gridColumnWidth:         37.75px;
@gridGutterWidth:         15px;


//Tabs
// -------------------------
@tabsBorderColor:          #C1C1C1;
