@import "bootstrap/variables.less";

@baseUrl: "/images/frontend";

//Colors
@yellowHighlight:  #fffaea;
@yellowBackground: #fff8e0;
@boxBorder:       #aea3a3;

//Backgrounds
@grayNormal:      #e7e4e4;
@lightBlue:       #e6f2f9;
