@import "_variables.less";

.video_grid_view {
  position: relative;
  overflow: hidden;
  height: 160px;

  .mosaic-backdrop {
    .size(150px, 190px);
    margin-top: 3px;
    margin-left: 3px;
    border: 1px solid #fff;
    .box-shadow(0 1px 3px rgba(0, 0, 0, 0.5));
  }

  .mosaic-overlay {
    .size(150px, 190px);
    margin: 4px;
  }

  .mosaic-overlay .details {
    margin: 10px;
  }
}

.video_gallery_grid {
  margin-left: -13px;
  .post {
    margin-left: 13px;
    width: 238px;
    height: 240px;
    overflow: hidden;
    position: relative;
    a {
      border: 0;
      padding: 0;
      .border-radius(0);
      &.thumbnail {
        height: 179px;
        background-color: #000000;
        overflow: hidden;
        &.vimeo {
          padding-top: 23px;
          height: 156px;
        }
      }
    }

    h4 {
      margin-top: 10px;
    }
    .sidebar-video-play-button {
      height: 79%;
    }
  }
}