@import "_variables.less";

.video_grid_view {
  position: relative;
  overflow: hidden;
  height: 160px;

  .mosaic-backdrop {
    .size(150px, 190px);
    margin-top: 3px;
    margin-left: 3px;
    border: 1px solid #fff;
    .box-shadow(0 1px 3px rgba(0, 0, 0, 0.5));
  }

  .mosaic-overlay {
    .size(150px, 190px);
    margin: 4px;
  }

  .mosaic-overlay .details {
    margin: 10px;
  }
}
