@import "_variables.less";
@import "_mixins.less";

#wizard {
  .wizard {
    background: @grayLighter;
    color: @gray;
    padding: 8px 0 6px 0;
  }

  .wizard.active {
    background: @yellowLight;
    color: @black;
  }

  .wizard_separator {
    background: url('@{baseUrl}/wizard_separator.png') no-repeat;
    background-position: center;
    height: 32px;
  }
}
