.collection_grid_view div.stack,
.collection_list_view div.stack {
  background: url(/images/frontend/stack.png) no-repeat;
  width: 201px;
  height: 155px;
  padding: 5px 0 0 13px;
  overflow: hidden;
  position: relative;
}

.collection_grid_view .mosaic-backdrop {
  display:none;
  position:absolute;
  top:0;
  width:180px;
  height:142px;
  margin-top: 5px;
  background: #fff;
}

.collection_grid_view .mosaic-overlay {
  display:none;
  z-index:5;
  position:absolute;
  width:201px;
  height:155px;
  margin-left: 10px;
  margin-bottom: 5px;
  background:#111;
}

.collection_grid_view .mosaic-overlay .details {
  font-family:Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 13px;
  padding: 3px
}

.collection_grid_view .mosaic-overlay {
  bottom: -80px;
  height: 75px;
  background: url(/images/frontend/black.png);
}
