@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";
@import "_variables.less";
@import "_mixins.less";

.collection_grid_view {
  margin-top: 2px;
  height: 160px;
  overflow: hidden;
  position: relative;
}

.collection_grid_view .mosaic-backdrop {
  width: 190px;
  height: 150px;
  margin-left: 3px;
  margin-top: 3px;
//  border: 1px solid #fff;
//  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
//  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
//  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.collection_grid_view .mosaic-overlay {
  width: 190px;
  height: 150px;
  margin: 4px;
}

.collection_grid_view div.stack,
.collection_list_view div.stack {
  background: url("@{baseUrl}/stack.png") no-repeat;
  width: 196px;
  height: 151px;
  padding: 5px 0 0 13px;
}

.collection_grid_view .stack .mosaic-backdrop {
  width: 175px;
  height: 138px;
  margin: 5px 0 0 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.collection_grid_view .stack .mosaic-overlay {
  width: 175px;
  height: 138px;
  margin: 0;
}

.collection_grid_view .mosaic-overlay .details {
  margin: 10px;
}

.fade-white a {
  color: #5C5C5C;
}

//This Week's Promo

#weeks-promo-box {
	background-color: @yelloHighlight;
	padding: 18px 15px 15px 15px;
	.text-right a {
  vertical-align: middle;
  }
	.thumbnails > li {
		margin-bottom: 1px;
	}
	.thumbnails .span6 {
		.size(281px, 308px);
		overflow: hidden;
		position: relative;
		img {
			overflow: hidden;
			max-width: none;
		}
	}
	.span3 {
		width: 140px;
		padding-left: 1px;
	}
	.imageset {
		margin-left: 0;
		margin-bottom: 6px;
	}
	.imageset [class*="span"] {
	float: left;
	margin-left: 0;
  }
	.thumbnails {
		margin-left: 0px;
	}
}

.white-block {
  position: absolute;
  bottom: 45px;
  width: 291px;
  padding: 15px;
  display: block;
  color: @blueDark;
  #translucent > .background(white,0.9);
  bottom-top: 1px solid #b4b0a5;
  bottom-bottom: 1px solid #b4b0a5;
	p {
  margin-bottom: 0;
	}
}

.weeks-promo-title {
	.custom-font(20px, 20px, italic, bold);
	.smooth-font();
	color: @blueDark;
}

.dn {
  display: none;
}



