// Fixed wrapper under 1024px
@media (max-width: 996px) {

  #homepage .span3 {
    width: 138px;
    margin-bottom: 15px;
  }
  #homepage .span6 {
    width: 290px;
    margin-bottom: 15px;
  }

}

//  Fixed width of wrapper up to 1200px
@media (min-width: 997px) and (max-width: 1209px) {

  #homepage {
    padding-left: 2px;
  }
  #homepage .span3 {
    width: 138px;
    margin-bottom: 15px;
  }
  #homepage .span6 {
    width: 290px;
    margin-bottom: 15px;
  }

}

@media (min-width: 1210px) {

  #homepage .span3 {
    width: 138px;
    margin-bottom: 15px;
  }
  #homepage .span6 {
    width: 290px;
    margin-bottom: 15px;
  }

  .row-content {
    width: 910px;
    margin-left: auto;
    margin-right: auto;
  }
}

#homepage {
  margin-top: 15px;
}
#homepage {
	margin-top: 15px;
}
#homepage .span3 {
	width: 138px;
	margin-bottom: 15px;
}
#homepage .span6 {
	width: 290px;
	margin-bottom: 15px;
}

#homepage .masonry-blogpost {
	width: 290px;
	height: 290px;
//	overflow: hidden;
	position: relative;
}
#homepage .yellow-background {
//background: #fff5d5;
  border: 2px solid #CFE0E9;
}
.blue-background {
	background: #CFE0E9;
}

#homepage .masonry-blogpost .link {
	display: inline-block;
	padding: 10px 15px 15px 15px;
	width: 260px;
	z-index: 10;
	zoom: 1;
	color: #125375;
	height: 210px;
	overflow: hidden;
	text-decoration: none;
}
#homepage .masonry-blogpost .link:hover p
{
	font-size: 13px;
	line-height: 20px;
	text-decoration: none;
}
#homepage .link p {
	font-size: 18px;
	line-height: 24px;
}
#homepage .link h3 {
	color:#125375;
}
#homepage .link h3:hover {
	color:#0A82C2;
}
#homepage h3 {
	line-height: 16px;
}
.details-inner {
	height: auto!important;
	height: 88px;
	max-height: 88px;
	overflow: hidden;
	margin-bottom: 8px;
}
.details .details-inner p {
	line-height: 14px;
	font-size: 13px;
}
.details p {
	line-height: 11px;
	font-size: 11px;
}
.details img {
	float: left;
	margin-right: 4px;
	border: 1px solid #dbdbdb;
}
.masonry-blogpost-author {
	position:absolute;
	bottom:0;
	height: 40px;
	width: 270px;
	padding: 4px 10px;
}
.masonry-blogpost-author img {
	float: left;
	margin-right: 10px;
	border: 1px solid #efefef;
}
#homepage .square, #homepage .tall, #homepage .wide {
	position: relative;
	background: none repeat scroll 0 0 white;
	color: #125375;
	text-align: left;
	cursor: pointer;
	overflow: hidden;
}
#homepage .tall {
	height: 290px;
	width: 138px;
}
#homepage .square {
	height: 138px;
	width: 138px;
}
#homepage .square .details p {
	height: 70px;
	overflow: hidden;
}
#homepage .wide {
	height: 138px;
	width: 290px;
}
.link-brick img {
	position:absolute;
	top:0;
	left:0;
	z-index:0;
}

.square:hover > a img, .tall:hover > a img, .wide:hover > a img {
	background:white;
	opacity:0.1;
	filter:alpha(opacity=10);
}

.details {
	padding: 10px;
	word-wrap: break-word;
}

