// Fixed wrapper under 1024px
@media (max-width: 996px) {


}

//  Fixed width of wrapper up to 1200px
@media (min-width: 997px) and (max-width: 1209px) {

  #homepage {
    padding-left: 2px;
  }

}

@media (min-width: 1210px) {

  .row-content {
    width: 910px;
    margin-left: auto;
    margin-right: auto;
  }
}

#homepage {
  margin-top: 15px;
}
#homepage .span3 {
	width: 138px;
	margin-bottom: 15px;
}
#homepage .span6 {
	width: 290px;
	margin-bottom: 15px;
}

.masonry-blogpost {
	width: 290px;
	height: 290px;
	overflow: hidden;
	position: relative;
}
.masonry-blogpost .link {
		display: inline-block;
		height: 208px;
		padding: 15px;
		width: 270px;
		z-index: 10;
}
