@import "_variables.less";
@import "_mixins.less";
@import "_utilities.less";

@import "_h5bp.less";
@import "_header.less";
@import "_menu.less";
@import "_wizard.less";
@import "_spites.less";
@import "_grid.less";
@import "_footer.less";

// basic body
body {
  background: #ecebec url("@{baseUrl}/background-pattern.png") repeat;
  color: #125375;
}

a {
  color: @linkColor;
  text-decoration: none;
}
a:hover {
  color: @linkColorHover;
  text-decoration: none;
}

// FONTS
.Chivo {
  font-family: 'Chivo', @sansFontFamily;
}

.js .webfont {
  visibility: hidden;
}

// SELECTION STYLE
::selection {
  background: #D9EBF5;
}

::-moz-selection {
  background: #D9EBF5;
}

::-webkit-selection {
  background: #D9EBF5;
}

// WRAPPER, COLUMNS
#main {
  float: left;
  width: 100%;
  min-height: 600px;
}

.without-column > #main {
  float: none;
}

#sidebar {
  overflow: hidden;
}

.fixed-right-300 {
  padding-right: 339px;
}

.fixed-right-300 > #sidebar {
  float: left;
  position: relative;
  width: 300px;
  margin-left: 20px;
  margin-right: -320px;
}

.fixed-right-120 {
  padding-right: 159px;
}

.fixed-right-120 > #sidebar {
  float: left;
  position: relative;
  width: 120px;
  margin-left: 20px;
  margin-right: -140px;
}

.fixed-right-160 {
  padding-right: 199px;
}

.fixed-right-160 > #sidebar {
  float: left;
  position: relative;
  width: 160px;
  margin-left: 20px;
  margin-right: -199px;
}

.fixed-right-180 {
  padding-right: 219px;
}

.fixed-right-180 > #sidebar {
  float: left;
  position: relative;
  width: 180px;
  margin-left: 20px;
  margin-right: -200px;
}

.container-fluid, .container {
  .box-shadow(0 25px 20px rgba(136, 119, 119, 0.5));
  padding-left: 20px;
}

.container-fluid.without-column, .container.without-column {
  padding-right: 20px;
}

#content {
  background-color: @white;
  padding-top: 45px;
  border-left: 1px solid #ededed;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  text-decoration: none;
  border-bottom: 1px solid @red;
  color: @blueDark;
}

.link-align {
  line-height: 13px;
  padding-top: 6px;
}

.red-dashes-bottom {
  background: url("@{baseUrl}/red-dotted-line.png") repeat-x bottom;
  padding-bottom: 12px;
  margin-bottom: 15px;
}

.section-title {
  background: url("@{baseUrl}/red-dotted-line.png") repeat-x bottom;
  margin-top: 35px;
  margin-bottom: 10px;
  h2 {
    .custom-font(20px, 22px, italic, normal);
	  .smooth-font();
    color: @red;
  }
  .span3 {
    text-align: right;
  }
}

.sidebar-title {
  margin-top: 25px;
  margin-bottom: 10px;
  background: url("@{baseUrl}/red-dotted-line.png") repeat-x bottom;

  h3 {
    .custom-font(20px, 22px, italic, normal);
	  .smooth-font();
    color: @red;
  }

  .span3, .span4 {
    text-align: right;
  }
}

.red-dashes-sidebar {
  background: url("@{baseUrl}/red-dotted-line.png") repeat-x bottom;
  padding-bottom: 0;
  margin-top: 10px;
  margin-bottom: 8px;
}

//vertically-center-text
.v-center-container {
  display: table;
}

.v-center-container-label {
  display: table !important;
	width: 71px !important;
  height: 28px;
}

.v-center {
  display: table-cell;
  vertical-align: middle;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-v-middle {
  vertical-align: middle;
}

// Inputs, Buttons, Textareas, Selects
input,
textarea,
select,
.uneditable-input {
  .border-radius(5px);
}

.blue-button {
  font-size: 14px;
  font-weight: bold;
  color: @white;
  padding: 5px 14px 5px;
  border: 1px solid #0a82c2;
  border-bottom-color: @blue;
  .buttonBackground(@btnPrimaryBackground, @btnPrimaryBackgroundHighlight);
  .border-radius(7px);
  @shadow: inset 1 px 1 px 1 px rgba(255, 255, 255, .2),
0 1 px 2 px rgba(0, 0, 0, .05);
  .box-shadow(@shadow);
  text-shadow: none;
  &:hover {
    background-position: 0 0;
    .transition(none);
    .buttonBackground(@red, #b2100e);
    color: @white;
    text-decoration: none;
    border: 1px solid @red;
  }
}

.gray-button {
  font-size: 14px;
  color: #887777;
  padding: 4px 14px;
  border: 1px solid #d2cccc;
  .buttonBackground(#eeecec, #dbd9d9);
  .border-radius(7px);
  text-shadow: none;
  &:hover {
    background-position: 0 0;
    .transition(none);
    .buttonBackground(#fff, #e6e6e6);
    color: #887777;
    text-decoration: none;
    border: 1px solid #e6e6e6;
  }
}

.append-left-gray {
	position: relative;
	width: 125px;
	float: left;
	text-align: center;
	margin-left: 0;
	margin-bottom: 0;
	display: inline-block;
	vertical-align: middle;
  font-size: 12px;
  line-height: 18px;
  color: #887777;
  padding: 3px 8px 3px 8px;
  border: 1px solid #b5b7bd!important;
  .buttonBackground(#eeecec, #dbd9d9);
	.border-radius(6px 0 0 6px);
  text-shadow: none;
}

.see-more-full {
	width: 100%;
	padding: 5px 14px;
	margin-top: 5px;
}
.see-less-full {
	width: 100%;
	padding: 5px 14px;
	margin-top: 7px;
}

.see-more-under-image-set {
	padding-left: 6px;
	padding-right: 10px;
	margin-bottom: 20px;
}

.input-sort-by {
	width: 345px;
	font-size: 12px;
	color: @blueDark;
	z-index: 1;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom: 2px!important;
}

.btn-micro {
  padding: 2px 6px 3px 6px;
  font-size: @baseFontSize - 3px;
  line-height: @baseLineHeight - 4px;
}

// IE7 has some default padding on button controls
button.btn,
input[type="submit"].btn.btn-micro {
  &.btn-mini {
    *padding-top: 2px;
    *padding-bottom: 2px;
  }
}

// FORMS

// Email suggestion for .form-horizontal
.form-horizontal .email-suggestion {
  .pull-right;
  a {
    cursor: pointer;
    .domain {
      font-weight: bold;
    }
  }
}

/* IE7 */
//*:first-child+html .control-label {
//	margin-top: ~"expression(this.offsetHeight < this.parentNode.offsetHeight ? parseInt((this.parentNode.offsetHeight - this.offsetHeight) / 2) + "px" : "0")";
//}


//Resets
.row-spacing {
  margin: 7px 0;
}

.row-spacing-double {
  margin: 12px 0;
}

.bottom-margin {
  margin-bottom: 10px;
}

.bottom-margin-double {
  margin-bottom: 20px;
}

.top-padding {
  padding-top: 7px;
}

.top-padding-double {
  padding-top: 15px;
}

.top-padding-10 {
  padding-top: 10px;
}

.spacing-left {
	margin-left: 10px;
}

//column list
.twocolumn ul {
  margin-left: 0;
  margin-bottom: 0px;
  list-style-type: none;

	li a {
		font-size: 12px;
	}
}

.csscolumns .twocolumn {
  -moz-column-count: 2;
  -moz-column-gap: 10px;
  -webkit-column-count: 2;
  -webkit-column-gap: 10px;
  column-count: 2;
  column-gap: 10px;
}

.no-csscolumns .twocolumn ul li {
  width: 50%;
  line-height: 1.5em;
  float: left;
  display: inline;
}


//SLOTS
#slot1 {
  margin: 0 auto;
  background-color: @white;
  border-left: 1px solid #ededed;
  .box-shadow(0 25px 20px rgba(136, 119, 119, 0.5));
  .clearfix();
}

.slot1-inner {
  padding: 40px 15px 0;
}

//BUTTONS
.btn-big {
  padding: 5px 10px;
  font-size: @baseFontSize + 3px;
  line-height: normal; //	#gradient > .directional(@startColor, @endColor, @deg)
}

a.bold-links {
  font-weight: bold;
}

.header-bar {
  #gradient > .vertical(#c90000,#b20000);
  margin-bottom: 0;

	h1, h2 {
    .custom-font(20px, 20px, normal, bold);
	  .smooth-font();
    text-transform: uppercase;
    color: white;
		letter-spacing: 0.02em;
  }

  a {
    color: @white;
    text-decoration: none;
  }

  [class*="span"] {
    min-height: 0;
    padding: 8px 15px;
  }

  .text-right {
    padding-top: 10px;
  }
}

//SIDEBAR
#sidebar-videos {
  padding: 10px;
  padding-top: 5px;

  .title {
    font-size: @baseFontSize - 1;
    line-height: 14px;
    font-weight: bold;
    color: @blue;
    display: block;
    margin-bottom: 5px;
  }
  .content {
    font-size: @baseFontSize - 1;
    line-height: 17px;
    color: @blueDark;
    display: block;
    max-height: 50px;
    overflow: hidden;
  }
  .updated-at {
    font-size: @baseFontSize - 2;
    color: @brown;
    display: block;
  }
}

.max-height-video-box-sidebar {
  .min-height(90px);
  overflow: hidden;
}

.clip-inner {
  .size(90px, 120px);
  position: relative;
}

.clip-inner img {
  float: left;
}

.sidebar-video-play-button {
  position: absolute;
  .square(100%);
  top: 0;
  left: 0;
  display: block;
  background: transparent url("@{baseUrl}/play-button.png") no-repeat center center;
  z-index: 10;
}

//ELEMENTS
.sidebar-ul {
  margin-bottom: 20px;
  li {
  margin-bottom: 5px;
  }
}

.blue-text, h3 {
  color: @blueDark;
}

//temporary styles
.sidebar-margin-left {
  margin-left: 22px;
}

/* Special grid styles
-------------------------------------------------- */
.show-grid {
  margin-top: 10px;
  margin-bottom: 20px;
}

.show-grid [class*="span"] {
  background-color: #eee;
  text-align: center;
  .border-radius(3px);
  min-height: 30px;
  line-height: 30px;
}

.show-grid:hover [class*="span"] {
  background: #ddd;
}

.show-grid .show-grid {
  margin-top: 0;
  margin-bottom: 0;
}

.show-grid .show-grid [class*="span"] {
  background-color: #ccc;
}

#infscr-loading {
  text-align: center;
  position: fixed;
  bottom: 100px;
  left: 44%;
  background: #000;
  color: #fff;
  font-family: Helvetica, Arial, Verdana;
  font-size: 16px;
  letter-spacing: 0.1em;
  .size(50px, 300px);
  margin: 0;
  margin-left: -150px;
  padding: 10px;
  opacity: 0.8;
  z-index: 9998;
  .border-radius(10px);

}

#infscr-loading img {
  margin: 0 0 0 0;
}

#top-link {
  display: none;
  position: absolute;
  right: 15px;
  top: -70px;
  font-variant: small-caps;
  white-space: nowrap;

	i {
  font-size: 40px;
  float: left;
  margin-top: -2px;
  margin-right: 10px;
	}
	&.sticky {
		position: fixed;
		right: 10px;
		bottom: -5px;
		top: auto;
	}
}


//Search bar

#sort-search-box {
	background-color: #daecf6;
	padding: 15px 15px 13px 15px;
	margin-bottom: 15px;

  .btn-group {
	float: left;
	margin-right: -1px;
  }
	.dropdown-menu a {
		color: #887777;
		strong {
			color: @blue;
			font-weight: normal;
		}
		&:hover {
			background: @yelloHighlight;
			color: #887777
		}
	}
	.input-append form {
		margin: 0;
	}
	.input-append input {
		.border-radius(0);
	}
	input, textarea, select, .uneditable-input, button, append-left-gray, .gray-button.dropdown-toggle {
		border: 1px solid #b5b7bd;
	}
}

#sort-search-box .gray-button, .collection-search-box btn-group a, .collection-search-box .dropdown-menu a {
	font-size: 12px;
}

#sort-search-box .caret.arrow-down {
	border-top: 5px solid #887777;
	margin-top: -8px;
	.opacity(100);
}
#sort-search-box .caret.arrow-up {
	border-bottom: 5px solid #887777;
	border-top: none;
	margin-top: 0;
	.opacity(100);
}
#sort-search-box .gray-button.dropdown-toggle br {
	line-height: 1px;
}
#sort-search-box a.dropdown-toggle {
	.size(16px, 8px);
	display: block;
	margin-top: 0px;
	padding: 5px 5px 3px 5px;
	z-index: 10;
}
#sort-search-box .btn-group > .dropdown-toggle {
	border-radius: 0 0 0 0;
	background-position: inherit;
}
#sort-search-box .input-append button.gray-button {
		margin-bottom: 2px;
		padding-top: 3px;
		padding-bottom: 3px;
}

div.over {
  cursor: pointer;
}

.rounded {
  .border-radius(7px);
}

//

#items-for-sale {
	.thumbnails {
		margin-left: 0;

		a {
			border: 1px solid @boxBorder;
			font-size: 12px;
			.box-shadow(none);
			.border-radius(0);
			&:hover {
				background-color: white;
				border: 1px solid @blue;
				.border-radius(0);
			}
			p {
				font-size: 12px;
				margin-bottom: 2px;
				padding: 5px 2px 0 2px;
			}
			span {
				font-weight: bold;
				color: @blueDark;
				display: block;
				text-align: right;
				padding-right: 2px;
			}
		}
		.thumbnail {
			padding: 5px 4px 7px 4px;
		}
	}
}


//brand pages
.promo-space {
	margin-bottom: 15px;
}

#show-items {

	.row {
		margin-left: 0;
	}
	.span4 {
		.square(190px);
		margin: 20px 0 0 25px;
	}
	.thumbnails {
		margin-left: -25px;
		margin-bottom: 0;
	}
	.thumbnail {
		.border-radius(0);
		.box-shadow(none);
		border: none;
		padding: 0;
	}
}

@import "_mosaic.less";
@import "_collections.less";
@import "_collectibles.less";
@import "_videos.less";
