@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";
@import "_variables.less";

.empty_cart_message {
	background: transparent url("@{baseUrl}/empty_cart.png") no-repeat;
	.size(100px,280px);
	margin: 120px 0 0 120px
}
.empty_cart_message p {
	color: #6c6c6c;
	font-size: 24px;
	font-weight: bold;
	padding-top: 14px;
	padding-left: 24px;
}
.empty_cart_message span {
	padding-left: 22px;
}

#slot1 {
  background: #FFF5D5;
}
