@import "frontend-variables.less";

.button_carousel_next, .button_carousel_next_hover, .button_carousel_previous, .button_carousel_previous_hover, .icon_big_box, .icon_big_piggy_bank, .icon_big_question, .logo, .shopping_cart, .s-16-icon-facebook, .s-16-icon-google, .s-16-icon-twitter, .icon_big_add, .icon_big_battery, .icon_big_email, .icon_big_organize{
	background: url("@{base-url}/sprites.png") no-repeat;
}

.button_carousel_next{
	background-position: -360px 0;
	width: 26px;
	height: 36px;
}

.button_carousel_next:hover{
	background-position: -360px -40px ;
	width: 26px;
	height: 36px;
}

.button_carousel_previous{
	background-position: -330px 0;
	width: 26px;
	height: 36px;
}

.button_carousel_previous:hover{
	background-position: -330px -40px ;
	width: 26px;
	height: 36px;
}

.icon_big_box{
	background-position: -220px 0;
	width: 52px;
	height: 46px;
}

.icon_big_piggy_bank{
	background-position: -220px -47px ;
	width: 52px;
	height: 46px;
}

.icon_big_question{
	background-position: -275px 0;
	width: 52px;
	height: 46px;
}

.logo{
	background-position: 0 0;
	width: 220px;
	height: 102px;
}

.shopping_cart{
	background-position: 0 -110px ;
	width: 32px;
	height: 30px;
}

.s-16-icon-facebook{
	background-position: -400px 0;
	width: 16px;
	height: 16px;
}

.s-16-icon-google{
	background-position: -400px -25px ;
	width: 16px;
	height: 16px;
}

.s-16-icon-twitter{
	background-position: -400px -50px ;
	width: 16px;
	height: 16px;
}

.icon_big_add{
	background-position: -221px -94px ;
	width: 52px;
	height: 46px;
}

.icon_big_battery{
	background-position: -275px -47px ;
	width: 52px;
	height: 46px;
}

.icon_big_email{
	background-position: -275px -94px ;
	width: 52px;
	height: 46px;
}

.icon_big_organize{
	background-position: -220px -141px ;
	width: 52px;
	height: 46px;
}


