{% extends "common/base.html.twig" %}

{% block content %}

<p style="margin-bottom: 10px; font-weight: bold;">
  Dear {{ user_comment.name }}
</p>
<p>
  A new response has been made to a thread you follow about <b>{{ link_to(model_object, thread_url, true) }}</b>.
  <br />
  <br />
  You can unsubscribe from comment notifications by {{ link_to('clicking here', unsubscribe_url, true) }} or by opening the following URL in your browser:
  <br />
  <pre>{{ unsubscribe_url }}</pre>

</p>

{% endblock %}