{% extends "common/base.html.twig" %}

{% block content %}

<p style="margin-bottom: 10px; font-weight: bold;">
  Hey, {{ oYourComment.authorName }}!
</p>

<p>
  Someone responded to your comment on Collectors Quest!
</p>

<p>
  {{ oNewComment.body }}
</p>

<p>
  {{ link_to('Click here', sThreadUrl) }} to respond and make a friend!
  <br />
</p>

<small>
  You can unsubscribe from further comment notifications by
  {{ link_to('clicking here', "@auto_login?hash=#{oOwner.autoLoginHash}&r=#{url_for('@mycq_profile_email_preferences?comments=0&comments_opt_out=1', false) | url_encode}", {absolute: true}) }}.
</small>

{% endblock %}
