#blog-contents {
  margin: 5px 5px 10px 15px;
  font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif;
  font-size: 14px;
  line-height: 1.7em;
  color: #333333;
}

#blog-contents h2 {
  background-color:#FFFFFF;
  border-bottom: 2px solid #DF912F;
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size:24px;
  font-weight:400;
  letter-spacing:-1px;
  margin: 10px 0 3px;
  padding-bottom: 3px;
}

#blog-contents h2 a {
  text-decoration: none;
  color: #204560;
}

#blog-contents .post {
  clear: both;
}

#blog-contents .navigation {
  background:#F7F7F7 none repeat scroll 0 0;
  clear:both;
  height:30px;
  margin:0 0 1em;
  -moz-border-radius-bottomleft: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-topright: 15px;
}

#blog-contents .navigation a {
  background:#222222 none repeat scroll 0 0;
  color:#F7F7F7;
  display:block;
  float:left;
  font-size:85%;
  line-height:30px;
  text-align:center;
  text-decoration:none;
  width:100px;
}

#blog-contents .navigation a:hover {
  background: #669933 none repeat scroll 0 0;
  color: #FFFFFF;
}


#blog-contents .navigation .lt a {
  -webkit-border-top-left-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
  -moz-border-radius-topleft: 15px;
  border-right: 1px dotted #CCCCCC;
}

#blog-contents .navigation .rt {
  float:right;
}

.navigation .rt a {
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-topright: 15px;
  border-left: 1px dotted #CCCCCC;
}

p {
  text-align: justify;
}

/* Begin Images */
p img {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%;
}

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.alignright {
  padding: 4px;
  margin: 0 0 2px 7px;
  display: inline;
}

img.alignleft {
  padding: 4px;
  margin: 0 7px 2px 0;
  display: inline;
}

.aligncenter {
  margin-left: auto;
  margin-right: auto;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

/* End Images */

/* Begin Various Tags & Classes */
acronym, abbr, span.caps {
  cursor: help;
}

acronym, abbr {
  border-bottom: 1px dashed #999;
}

blockquote {
  margin: 15px 30px 0 10px;
  padding-left: 20px;
  border-left: 5px solid #ddd;
}

blockquote cite {
  margin: 5px 0 0;
  display: block;
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}

.screen-reader-text {
  position: absolute;
  left: -1000em;
}

hr {
  display: none;
}

a img {
  border: none;
}

.navigation {
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 60px;
}
/* End Various Tags & Classes*/

blockquote, pre {
  background: #F4F5F7 url(./images/blog/blockquote.gif) no-repeat scroll 3px 3px;
  border: 1px dashed #CCCCCC;
  margin: 5px 0;
  padding: 8px 12px 8px 40px;
}

blockquote p, pre p {
  margin: 0;
}

/* Captions & aligment */
.aligncenter, div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.wp-caption {
  -moz-border-radius-bottomleft:3px;
  -moz-border-radius-bottomright:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-topright:3px;
  background: #F8FBE5;
  border:1px solid #DDDDDD;
  display:block;
  height:auto;
  margin:10px;
  max-width:96%;
  padding-top:4px;
  text-align:center;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}
/* End captions & aligment */

.post .date {
  padding-left: 25px;
  background: url(./images/blog/date-icon.png) no-repeat;
}

.post .comments {
  background-position:0 -96px;
  float:right;
}

.fixed, .clear {
  clear:both;
}

#widgets
{
  width: 220px;
  margin: auto;
  padding: 0;
  list-style-type:none;
}

#widgets a {
  color: #4C8C9E;
}

#widgets ul {
  list-style-type:none;
  margin:0;
  padding:0;
  padding-left: 10px;
}

#widgets ul li {
  list-style-type:none;
  margin:0;
  padding:0;
}

#widgets .widget-title {
  font-family: 'Trebuchet MS','Lucida Grande',Verdana,Arial,Sans-Serif;
  font-size: 14px;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: 2px;
  margin: 0 -12px;
  padding: 3px 0 5px 15px;
  color: #FFFFFF;
  height: 28px;
  background: url(./images/legacy/sidebar-section-bgr.png) no-repeat;
}

#widget-blog-categories li a {
  display:block;
  padding: 15px 0 15px 65px;
  text-decoration:none;
  font-size: 14px;
}

#widget-blog-categories li {
  background-position: 0 50%;
  background-repeat: no-repeat;
  border-bottom:1px solid #62A0B2;
}

#widget-blog-categories li.market {
  background-image: url("/images/blog/side-but-watch.jpg");
}

#widget-blog-categories li.hot {
  background-image: url("/images/blog/side-but-hot.jpg");
}

#widget-blog-categories li.deco {
  background-image: url("/images/blog/side-but-deco.jpg");
}

#widget-blog-categories li.finds {
  background-image: url("/images/blog/side-but-finds.jpg");
}

#widget-blog-categories li.fyi {
  background-image: url("/images/blog/side-but-fyi.jpg");
}

#widget-blog-categories li.nandn {
  background-image: url("/images/blog/side-but-news.jpg");
}

#widget-blog-categories li.event {
  background-image: url("/images/blog/side-but-events.jpg");
  border-bottom: 0;
}

#widget-bloggers ul li {
  border-bottom: 1px solid #62A0B2;
  margin-top: 10px;
  padding-bottom: 10px;
}

#widget-bloggers li.val-ubell {
  border-bottom: 0;
}

#widget-pages li a {
  display:block;
  padding: 5px 0 5px 10px;
  text-decoration:none;
  font-size: 14px;
}

#widget-pages li {
  background-position: 0 50%;
  background-repeat: no-repeat;
  border-bottom: 1px solid #62A0B2;
}

#widget-team ul li {
  border-bottom: 1px solid #62A0B2;
  margin-top: 10px;
  padding-bottom: 10px;
}
