
ul.error_list {
	margin: 0;
  padding: 0;
  list-style: none;
}

form ul.error_list li {
  margin: 5px 0;
  padding: 2px 4px;
  background-color: #fff1f1;
  border:1px dotted #d20000;
  color: #CA0000;
  font-weight: bold;
  font-size: 12px;
}

.required {
  font-style: italic;
  color: red;
}

.optional, .recommended {
  color: #ccc;
  font-style: italic;
}

/*Sing up*/
#collectorstep1_password_bar {
  border: 1px solid #E9E9E9;
  font-size: 1px;
  height: 5px;
  width: 0px;
}

.pstrength-minchar {
  font-size : 11px;
  color: #696969;
  padding:0px 0px 0px 6px;
}

.field-help {
  margin:0px 0 0 0;
  padding:4px 6px 6px 6px;
  font-size:11px;
  line-height: 13px;
  text-align: left;
  color: #696969;
  background-color:#edebe2;
}
.f-h-w {
  width:398px; /* :/ */
}




