#homepage h2 {
  font-size: 18px;
  font-weight: bold;
  padding-left: 15px;
  background: #fff url('./images/legacy/black-arrow.png') 0 6px no-repeat;
}

#homepage h3 {
  margin-bottom: 5px;
  font-size: 16px;
}

#homepage .box {
  width: 300px;
  background: #fff url(./images/legacy/footer-bgr.png) repeat-x bottom;
  border: 1px solid #DCDFCE;
  border-bottom: 2px solid #DCDFCE;
  border-right: 2px solid #DCDFCE;
  margin: 5px 0 5px 5px;
  padding: 10px;
  padding-top: 10px;
}

#homepage ul {
  list-style: none;
  padding-left: 0;
  margin-top: 15px;
  margin-left: 5px;
}

#homepage ul li {
  min-height: 20px;
  padding: 8px 0;
  padding-bottom: 5px;
  padding-left: 27px;
  border-bottom: 1px solid #E1E6E9;
  font-size: 110%;
}

#homepage ul a {
  text-decoration: none;
}

#homepage ul.articles li {
  background: #fff url('./images/legacy/icon-article.png') 5px 9px no-repeat;
}

#homepage ul.videos li {
  background: #fff url('./images/legacy/icon-video.png') 3px 8px no-repeat;
}

#homepage ul.collections li {
  background: #fff url('./images/legacy/icon-collection.png') 3px 11px no-repeat;
}

#homepage ul li.pointer {
  background-color: #F8FBE5;
}
