html, body {
  height: 100%;
  color: #000;
}

body {
  background: #E4E4E4 url(/images/legacy/bkg.png) repeat-x scroll 0 0;
  margin-top: 20px;
}

a.action {
  -moz-border-radius: 2px 2px 2px 2px;
  background-repeat: no-repeat;
  padding: 2px 4px;
  margin: -2px;
}

a.action:hover {
  background-color: #D1E1EA;
  color: #004B73;
  text-decoration: none;
}

blockquote {
  background: transparent url(/images/legacy/blockquote.gif) no-repeat scroll 0 2px;
  margin: 20px 0 20px 20px;
  padding-left: 23px;
}

hr {
  border-color: #CCCCCC -moz-use-text-color #F5F5F5;
  border-left: medium none;
  border-right: medium none;
  border-style: solid none;
  border-width: 1px medium;
  clear:both;
  display:block;
  font-size:1px;
  height:0;
  line-height:0;
  margin:8px auto;
  max-height:0;
  padding:0;
  position:relative;
  width:90%;
}

hr.image {
  background: transparent url(/images/legacy/hr.gif) no-repeat scroll center center;
  height: 15px;
  width: 76px;
  margin: 10px auto;
}

h2.section-title {
  font-size: 18px;
  padding-left: 25px;
  margin-left: 20px;
  background: url(/images/legacy/black-arrow-down.png) 0 12px no-repeat;
}

fieldset {
  border:1px solid #ccc;
  background: #F8FBE5;
}

legend {
  border:1px solid #ccc;
  padding: 0.2em 0.5em;
  color: #fff;
  font-weight: normal;
  background: #BBDC71;
}

input[type="text"], textarea {
  padding: 5px 0 1px 5px;
  background: #fff url(/images/legacy/input-shadow.gif) top left repeat-x;
  border: 1px solid #A7A7A7;
}

input[type="text"].required, textarea.required {
  background: #fff url(/images/legacy/input-shadow-required.gif) top left repeat-x;
}

input.maininput {
  background-image: none;
}

#header {
  height: 36px;
  background: #df912f;
}

#header a {
  color: #fff;
}

#header-search {
  float: right;
  margin-right: 5px;
  padding-top: 4px;
}

#header-search-box {
  background: #FFF url(/images/sbox-bg.gif);
  outline:medium none;
  padding: 3px 0 3px 5px;
  width: 250px;
  height: 21px;
  margin-top: 0;
  border: medium none #FFFFFF;
  border-right: none;
  float: right;
}

#header-search .header-search-submit {
  float: right;
  height: 26px;
  background: #FFF url(/images/legacy/buttons/bg_button.png) repeat-x 0 2px;
  border-top: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
}
#header-search .header-search-submit .search_submit {
  margin: 0;
  float: left;
  padding: 4px 2px 2px 4px;
}
#header-search .header-search-submit .style_activator {
  background: transparent url(/images/legacy/search_arrow.png) no-repeat 4px 52%;
  width: 14px;
  height: 26px;
  display: block;
  float: left;
  border: 1px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
}
#header-search .header-search-submit .style_activator:hover {
  background-color: #EEE;
}

#header-account {
  float: right;
  color: #fff;
  margin-right: 10px;
  padding-top: 7px;
  font-size: 110%;
}

#header-search-button {
  float: right;
}

#header-ads {
  padding: 15px 0 15px 0;
  height: 60px;
}

#header-actions {
  padding: 10px 0 20px 0;
  height: 60px;
}

#header-actions a {
  font-size: 14px;
  line-height: 14px;
  color: #000;
  text-decoration: none;
}

#header-actions .icon {
  width: 50px;
  height: 50px;
  margin: auto;
  background: transparent url(/images/legacy/header-icons-grey.png) no-repeat;
}

#header-actions .profile {
  text-align: center;
  margin-left: 15px;
  margin-right: 20px;
}

#header-actions .profile .icon {
  width: 40px; height: 50px;
  margin-left: 13px;
}

#header-actions .collections {
  text-align: center;
  margin-right: 20px;
}

#header-actions .collections .icon {
  background-position: -42px 0;
}

#header-actions .friends {
  text-align: center;
  margin-right: 20px;
}

#header-actions .friends .icon {
  background-position: -258px 0;
}

#header-actions .messages {
  text-align: center;
  margin-right: 20px;
}

#header-actions .messages .icon {
  background-position: -154px 0;
}

#header-actions .marketplace {
  text-align: center;
  margin-right: 20px;
}

#header-actions .marketplace .icon {
  width: 50px; height: 50px;
  background-position: -95px 0;
  margin: auto;
}

#header-actions .icon.marketplace {
  width: 50px; height: 50px; background-position: -95px 0; margin: auto;
}

#header-actions div.active {
  cursor: pointer;
}

#header-actions div.notification {
  width: 32px; height: 23px;
  margin: -55px 0 0 25px;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  background: transparent url(/images/legacy/icon-notification.png) no-repeat 2px -25px;
}

#header-actions div.active .icon {
  background-image: url(/images/legacy/header-icons-active.png);
}

#header-actions .icon.active {
  background-image: url(/images/legacy/header-icons-active.png);
}

#page {
  background: #fff;
  border: 1px solid #C1C1C1;
  min-height: 500px;
  font-size: 14px;
  margin-top: 10px;
}

#page.with-sidebar {
  background: #fff url(/images/legacy/sidebar-bgr.png) repeat-y right;
}

#page.with-right-ads {
  background: #fff url(/images/legacy/right-ads-bgr.png) repeat-y right;
}

#navigation {
  height: 36px;
  background: #BADC70;
}

#breadcrumbs {
  font-size: 14px;
  margin: 0 0 0 5px;
  color: #A0A0A1;
}

#breadcrumbs a {
  color: #A0A0A1;
  text-decoration: underline;
}

#breadcrumbs h1 {
  padding: 5px 15px;
  background: url(/images/legacy/black-arrow.png) 2px 8px no-repeat;
  font-size:1.5em;
  line-height:1;
  margin-bottom: 0;
}

#breadcrumbs .edit_h1 input {
  font-size: 16px;
  margin-top: -7px;
  margin-bottom: -6px;
}

#contents {
  padding-top: 5px;
  padding-bottom: 20px;
  z-index: 1;
}

#right-ads {
  padding: 10px 0;
  float: right;
}

#footer {
  padding-top: 5px;
  color: #666666;
}

#footer ul {
  list-style: none;
  display: block;
  padding-left: 10px;
}

#footer ul li {
  display: inline;
  margin-right: 10px;
}

#loading {
  position: absolute;
  left: -1000px;
  top:  -1000px;
  display: none;
  text-align: center;
  background-color: #fff;
}

.wizard {
  padding: 5px 15px;
  background: #F7F7F7;
  color: #ccc;
  float: left;
}

.wizard.first {
  border-left: none;
}

.wizard.last {
  border-right: none;
  clear: right;
}

.wizard.active {
  background: #F0E39E;
  color: #000;
}

.wizard_separator {
  background: url('/images/legacy/wizard_separator.png') no-repeat;
  background-position: center;
  float: left;
  width: 40px;
  height: 32px;
}

.pointer {
  cursor: pointer;
}

.rounded {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}

.rounded-bottom {
  -webkit-border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -moz-border-radius-bottomleft: 7px;
}

.rounded-top {
  -webkit-border-top-right-radius: 7px;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topright: 7px;
  -moz-border-radius-topleft: 7px;
}

.ui-icon-editable {
  float: left;
  margin-right: 5px;
  margin-top: 2px;
}

.magnify {
  cursor: url(/images/magnify.cur), -moz-zoom-in, pointer;
}

#infscr-loading {
  text-align: center;
  position: fixed;
  bottom: 100px;
  left: 44%;
  background: #000;
  color: #fff;
  font-family: Helvetica, Arial, Verdana;
  font-size: 16px;
  letter-spacing: 0.1em;
  width: 300px;
  height: 50px;
  margin: 0;
  margin-left: -150px;
  padding: 10px;
  opacity: 0.8;
  z-index: 9998;
  border-radius: 10px;
  -moz-border-radius:10px 10px 10px 10px;
}

#infscr-loading img {
  margin: 0 0 0 0;
}

.grid_item {
  width: 160px;
  margin-left: 25px;
  margin-right: 15px;
  margin-bottom: 30px;
  display: inline-block;
}

.buynow {
  background: #BBDC71;
  color: #fff;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.buynow a {
  color: #fff;
  text-decoration: none;
}

.buynow a:hover {
  color: #73BCCC;
}

.category_item {
  background: #FCFDDE;
  border-bottom: 1px solid #B6CCC0;
  padding: 5px;
  padding-left: 10px;
}

.category_item.current {
  background: #badc70;
}

.category_item.current span {
  font-weight: bold;

}

.grid_item_price {
  width: 60px;
  text-align: center;
  background: #AFD85D;
  padding: 3px;
  color: #fff;
  margin-top: 2px;
  float: left;
  font-size: 90%;
}

.grid_item_date {
  width: 85px;
  text-align: center;
  background: #F2F8D5;
  padding: 3px;
  margin-top: 2px;
  float: left;
  line-height: 22px;
  font-size: 80%;
}

.grid_view_collection {
  min-height: 248px;
}
