/* CSS Document */

table {
  margin: 0;
  padding: 0;
  width: auto
}

fieldset {
  border: 1px solid #cccccc !important;
  background: #f8fbe5 url(/images/legacy/intro.png) no-repeat top right !important;
  z-index: 100000 !important;
  position: relative !important;
  border: 1px solid #000000 !important;
}

.offerright td {
  margin: 0 !important;
  padding: 0 !important;
  line-height: 18px;
}

.offerright span {
  color: #31859f;
  /*padding-left:5px;*/
  color: #31859f !important;
}

.btnsignup {
  background: url(../images/signup.png) no-repeat top left;
  border: none;
  height: 24px;
  width: 83px;
  cursor: pointer;
}

.btnoff {
  padding-top: 20px;
}

legend {
  background: #bbdc71;
  border: 1px solid #cccccc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
  padding: 5px 5px 5px 5px !important;
  font-weight: bold;
  margin-left: 15px;
  width: 113px;
}

.formoff {
  margin: 0px 0px 0px 15px;
}

.formoffer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  width: 902px;
  margin: 0 auto;
}

.formoffer h6 {
  margin: 0;
  padding: 10px 0px 10px 0px;
  font-size: 16px;
  color: #000000;
  font-weight: bold;
}

.formoffer h5 {
  margin: 0;
  padding: 0px 0px 20px 0px;
  font-size: 14px;
  color: #000000;
  font-weight: bold;
}

.submit {
  background: no-repeat !important;
}

.th, td, caption {
  padding: 0px;
}

/*CSS BY DAMYANTI*/

.offerleft {
  width: 95%;
  padding-right: 5%;
}

.offerleft table, td, th {
  vertical-align: top !important;
}

.spaceoff {
  padding: 0px 15px 0px 15px;
}

div.space_text {
  margin: 0px 0px 20px 0px;
}

h5.title_h5 {
  line-height: 35px;
  padding: 0px !important;
}

div.input_text_area {
  margin: 0px;
  padding: 0px;
  width: 155px;
  float: left;
}

div.input_button_area {
  margin: 6px 0px 0px 0px;
  padding: 0px;
  width: 65px;
  float: left;
}

div.text_valign {
  line-height: 30px;
}

div.text_valignnew {
  line-height: 34px;
}
