.title-shopping-cart {
  font-size: 24px;
  font-weight: bold;
  color: #e0e0e0;
  text-align: center;
}
/*Empty cart*/
.empty_cart_message {
  width: 400px;
  height: 330px;
  margin: 0 auto;
  background: url(/images/legacy/payment/big_empty_box.png) center no-repeat;
  text-align: center;
}
.empty_cart_message p {
  color:#6c6c6c;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding-top: 100px;
}
.button-center {
  display: inline-table;
}

/* Checkout success */
.item_wrapper {
  width: 700px;
  padding-bottom: 4px;
  margin: 10px auto;
}

.item_container {
  position: relative;
  background-color: #f3f2eb;
  padding: 10px;
  margin: 20px auto;
  width: 640px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
.item-container-shadow {
  background: url(/images/legacy/payment/checkout-shadow.png) left bottom no-repeat;
}
.remove-from-cart {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 16px;
  height: 16px;
  background: url(/images/legacy/payment/shopping-cart.png) 0 0 no-repeat;
}
.remove-from-cart:hover {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 16px;
  height: 16px;
  background: url(/images/legacy/payment/shopping-cart.png) 0 -16px no-repeat;
}
.item-title-sc {
  margin: 0 0 0.5em 0;
  font-size: 16px;
  color: #1a1a1a;
  font-weight: bold;
}
.label-condition {
  font-size: 12px;
  color: #7ca02f;
  text-transform: uppercase;
}
.simple-textarea {
  border: 1px solid #d4d4d4;
  font-size: 13px;
  color: #777777;
  width: 420px;
  height: 80px;
  min-height: 80px;
  margin: 0;
  background:#fff none;
  overflow: auto;
}
.thumbnail {
  background-color: #fff;
  border: 2px solid white;

}
tr.rainbow-dash td {
  border-top: 2px solid #deddda;
  padding-bottom: 20px;
}
.rainbow-dash strong {
  font-size: 15px;
}


.image-taxt-align {
  vertical-align: middle;
}
.append-10l {
  padding-right: 10px
}


