#sidebar {
  float: right;
  padding: 5px 0;
  z-index: 2;
}

#sidebar h2 {
  background: url(./images/legacy/sidebar-section-bgr.png) no-repeat;
  font-family: 'Trebuchet MS','Lucida Grande',Verdana,Arial,Sans-Serif;
  font-size: 14px;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: 2px;
  margin: 0 -12px 0 -7px;
  padding: 4px 0 5px 15px;
  color: #FFFFFF;
  height: 27px;
}

#sidebar hr {
  width: 90%;
  margin-left: 10px;
}

#sidebar-tag-cloud {
  padding: 0 10px;
  text-align: center;
}

#sidebar ul.buttons li.first a {
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topright: 7px;
}

#sidebar .collection:hover {
  background: #fff;
}

#sidebar .amazon_product:hover {
  background: #fff;
}

#sidebar-buttons {
  margin-bottom: 20px;
  clear: right;
}
