SHELL=/bin/bash
PATH=/www/bin:/www/vhosts/collectorsquest.com/current/data/bin:/usr/local/zend/bin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=cron@collectorsquest.com
HOME=/www/vhosts/collectorsquest.com/current

# Crons and Job Queue
* * * * *  www-data  cronic ./symfony cron:jobs --context=collectorsquest --env=prod
*/10 * * * *  www-data  cronic ./symfony job-queue:worker --application=frontend --env=prod --context=collectorsquest --port=3060 --deamonize=no
*/10 * * * *  www-data  cronic ./symfony job-queue:worker --application=frontend --env=prod --context=collectorsquest --port=3061 --deamonize=no

# Rotation of the Symfony logs
01 00 * * *  www-data  cronic ./symfony log:rotate backend prod >/dev/null 2>&1
01 00 * * *  www-data  cronic ./symfony log:rotate frontend prod >/dev/null 2>&1
01 00 * * *  www-data  cronic ./symfony log:rotate legacy prod >/dev/null 2>&1

*   * * * *  www-data  solo -silent -port=2050 ./symfony batch:process-job-queue --env=prod --application=legacy --queue=multimedia_thumbs
30  * * * *  www-data  solo -silent -port=2051 ./symfony batch:process-job-queue --env=prod --application=legacy --queue=multimedia_colors
*/2 * * * *  www-data  solo -silent -port=2052 ./symfony batch:process-job-queue --env=prod --application=legacy --queue=multimedia_rotate

# Sphinx indexes
*/5 * * * *  www-data  solo -silent -port=2037 ./symfony sphinx:rebuild-indexes --env=prod >/dev/null 2>&1
# 30,31,32,33,34,35,36,37,38,39 06 * * *  www-data  solo -silent -port=2037 ./symfony sphinx:rebuild-indexes --delta=no --env=prod >/dev/null 2>&1
