all:
  propel:
    class:        sfPropelDatabase
    param:
      classname:  DebugPDO
      dsn:        mysql:dbname=collectorsquest_dev;host=127.0.0.1
      username:   root
      password:
      encoding:   utf8
      persistent: true
      pooling:    true

      debug:
        realmemoryusage: true
        details:
          time:
            enabled: true
          slow:
            enabled: true
            threshold: 0.02
          mem:
            enabled: false
          method:
            enabled: true
          querycount:
            enabled: true

  blog:
    class:        sfPropelDatabase
    param:
      classname:  DebugPDO
      dsn:        mysql:dbname=collectorsquest_dev;host=127.0.0.1
      username:   root
      password:
      encoding:   latin1
      persistent: true
      pooling:    true

  calendar:
    class:        sfPropelDatabase
    param:
      classname:  DebugPDO
      dsn:        mysql:dbname=collectorsquest_dev;host=127.0.0.1
      username:   root
      password:
      encoding:   utf8
      persistent: true
      pooling:    true

  queue:
    class:        sfPropelDatabase
    param:
      classname:  DebugPDO
      dsn:        mysql:dbname=collectorsquest_dev;host=127.0.0.1
      username:   root
      password:
      encoding:   utf8
      persistent: true
      pooling:    true

  icepique:
    class:        sfPropelDatabase
    param:
      classname:  DebugPDO
      dsn:        mysql:dbname=collectorsquest_dev;host=127.0.0.1
      username:   root
      password:
      encoding:   utf8
      persistent: true
      pooling:    true

  archive:
    class:        sfPropelDatabase
    param:
      classname:  DebugPDO
      dsn:        mysql:dbname=collectorsquest_dev;host=127.0.0.1
      username:   root
      password:
      encoding:   utf8
      persistent: true
      pooling:    true

test:
  propel:
    param:
      classname:  DebugPDO
      dsn:        mysql:dbname=collectorsquest_test;host=172.16.183.128
      username:   root
      password:

  blog:
    param:
      classname:  DebugPDO
      dsn:        mysql:dbname=collectorsquest_test;host=172.16.183.128
      username:   root
      password:

  icepique:
    param:
      classname:  DebugPDO
      dsn:        mysql:dbname=collectorsquest_test;host=172.16.183.128
      username:   root
      password:

  archive:
    param:
      classname:  DebugPDO
      dsn:        mysql:dbname=collectorsquest_test;host=172.16.183.128
      username:   root
      password:
