{% extends "common/base.html.twig" %}

{% block content %}
  <p style="margin-bottom: 10px; font-weight: bold;">
    Dear Collectors Quest Member,
  </p>
  <p>
    Wait! Don't hit that spam button yet!
  </p>
  <p>
    You may have noticed that we recently started sending out a weekly newsletter.
    We hope you’ve been enjoying these peeks into the stuff that our site has to offer,
    but we want to make sure that you’re REALLY enjoying these newsletters.
  </p>
  <p>
    If you don’t wish to receive these newsletters, please let us know by clicking
    <a href="https://www.collectorsquest.com/mycq/profile/email-preferences?newsletter=0&opt_in=1" target="_blank">here</a>, and
    we won't send you these weekly updates. Otherwise, you’ll continue
    to receive our weekly news until you click ‘unsubscribe’ at the bottom of any one
    of these newsletters... though we’d hate for you to miss it if we feature your collection!
  </p>
  <p>
    Thanks for being a part of Collectors Quest.
  </p>
{% endblock %}
