{% extends "common/base.html.twig" %}

{% block content %}
<p style="margin-bottom: 10px; font-weight: bold;">
  Dear {{ collector.displayName }},
</p>

<p>
  So, you’ve forgotten your Collectors Quest password!
  It happens to all of us sometimes. We forgive you.
</p>

<p>
  Your new password is <b>{{ password }}</b> and after you login you can go to
  {{ link_to('your account settings', '@mycq_profile', { absolute: true }) }}
  and change your password to something easier to remember.
</p>

<p>
  You can also
  {{ link_to('click here', "@auto_login?hash=#{collector.autoLoginHash}&r=#{url_for('@mycq_profile', true)}", {absolute: true}) }}
  and we will take you automatically to your Collectors Quest account.
</p>
{% endblock %}
