{% extends "common/base.html.twig" %}

{% block content %}
  <p style="margin-bottom: 10px; font-weight: bold;">
    Dear {{ collector.displayName }},
  </p>

  <p>
    Your new password is <b>{{ password }}</b> and after you login you can go to
    {{ link_to('your account settings', '@mycq_profile', { absolute: true }) }}
    and change your password to something easier to remember.
  </p>

  <p>
    For your convenience, you can also
    {{ link_to('click here', "@auto_login?hash=#{collector.autoLoginHash}&goto=#{url_for('@mycq_profile', false)}", {absolute: true}) }}
    and you will be automatically taken to your Collectors' Quest account.
  </p>
{% endblock %}