{% extends "common/base.html.twig" %}

{% block content %}
  <p style="margin-bottom: 10px; font-weight: bold;">
    Hey, {{ collector.displayName }}!
  </p>
  <p>
      Thanks for joining Collectors Quest, we think you'll love it. Please click on the link below to create a Collectors Quest password.
  </p>
  <p>
    {{ url_for('mycq_profile_create_password', { }, { absolute: true}) }}
  </p>
  <p>
    If clicking the link above does not work, copy and paste it in
    a new browser window instead. The link will expire in 5 days.
  </p>
{% endblock %}
