{% extends "common/base.html.twig" %}

{% block content %}
  <p style="margin-bottom: 10px; font-weight: bold;">
    Hello again, {{ collector.displayName }}!
  </p>
  <p>
    Your can verify your email
    {{ link_to('here', 'collector_verify_email', { hash: collector_email.hash }, { absolute: true}) }}.
  </p>
{% endblock %}
