{% extends "common/base.html.twig" %}

{% block content %}
  <p style="margin-bottom: 10px; font-weight: bold;">
    Hello again, {{ collector.displayName }}!
  </p>
  <p>
    Your email has been changed to <strong>{{ collector_email.email }}</strong> and needs to be verified.
    Please click or copy & paste the link below into <strong>your internet browser</strong>:<br><br>

    {{ url_for('collector_verify_email', { hash: collector_email.hash }, { absolute: true}) }}.
  </p>
{% endblock %}
