{% extends "common/base.html.twig" %}

{% block content %}

<p style="margin-bottom: 10px; font-weight: bold;">
  Dear {{ receiver.displayName }}
</p>
<p>
  You have a new private message on {{ link_to('Collectors\' Quest', '@homepage', { absolute: true }) }}
  from user {{ link_to_collector(sender, 'text', { absolute: true }) }}.
  You can go to your {{ link_to('Messages Inbox', '@messages_inbox', { absolute: true }) }} to read it and reply.
</p>

{% endblock %}