@import "../_variables.less";
@import "../_mixins.less";

#body-aent-pawnStars .see-more-full {
  margin-top: 0;
}

#mediaspace {
  width: 848px;
  height: 480px;
  margin: -250px 0 0 -425px;
  overflow: hidden;
  .border-radius(0);
}
