@import "../_variables.less";
@import "../_mixins.less";

#body-aent-pawnStars .see-more-full {
  margin-top: 0;
}

//THE MEN WHO BUILT AMERICA LANDING PAGE

#body-aetn-mwba {
  #content {
  padding: 0;
  border-left: none;
  }
  .container-fluid.without-column {
    width: auto;
    margin: 0;
  }
}

.mwba-wrapper {
  position: relative;
  .size(702px, 980px);
  margin-top: 10px;
  background: url("@{baseUrl}/misc/mwba/mwba-landing-page-bg.jpg") no-repeat 0 18px;

  .top-banner {
    position: absolute;
    z-index: 2;
    margin-left: 137px;
    .mwba-top-banner();
  }
  .labels-ribbons {
    position: absolute;
    top: 396px;
    left: 182px;
    .size(150px, 624px);
  }
  .center-graphic {
    padding-top: 68px;
    padding-left: 130px;
  }
  .banner {
    display: block;
    position: absolute;
    bottom: 54px;
    left: 320px;
  }
}

//START SPRITES
//mwba-sprites.png

.rockefeller-button, .roosevelt-button, .vanderbilt-button, .mwba-top-banner {
  display: block;
  background: url("@{baseUrl}/misc/mwba/mwba-sprites.png") no-repeat;
}

.rockefeller-button {
  float: left;
  position: relative;
  top: 10px;
  left: 2px;
  .size(126px, 211px);
  background-position: 0 0;
  &:hover {
    background-position: 0 -130px;
  }
}

.roosevelt-button {
  float: left;
  .size(117px, 194px);
  background-position: -219px 0;
  &:hover {
    background-position: -219px -130px;
  }
}
.vanderbilt-button {
  float: left;
  position: relative;
  top: 12px;
  right: 2px;
  .size(126px, 210px);
  background-position: -425px 0;
  &:hover {
    background-position: -425px -130px;
  }
}

.mwba-top-banner {
  .size(180px, 710px);
  background-position: 0 -269px;
}

//mwba-sprites-man-pages.png

.mwba-american-flag, .mwba-title-red-man-page, .mwba-rockefeller-page-banner,
.mwba-roosevelt-page-banner, .mwba-vanderbilt-page-banner, .mwba-man-pages-bg,
.title-petroliana-txt, .title-railroadiana-txt, .title-rooseveltiana-txt,
.next-tiny-arrow, .previous-tiny-arrow {
  background: url("@{baseUrl}/misc/mwba/mwba-sprites-man-pages.png") no-repeat;
  display: block;
}

.mwba-american-flag {
  .size(50px, 980px);
  background-position: 0 0;
}

.mwba-title-red-man-page {
  .size(40px, 943px);
  background-position: 0 -58px;
}

.mwba-rockefeller-page-banner {
  .size(105px, 285px);
  background-position: 0 -105px;
}

.mwba-roosevelt-page-banner {
  .size(105px, 285px);
  background-position: -290px -105px;
}

.mwba-vanderbilt-page-banner {
  .size(105px, 285px);
  background-position: -580px -105px;
}

.mwba-man-pages-bg {
  .size(341px, 691px);
  background-position: 0 -230px;
}

.title-petroliana-txt {
  .size(16px, 193px);
  background-position: -750px -230px;
}

.title-railroadiana-txt {
  .size(16px, 193px);
  background-position: -750px -270px;
}

.title-rooseveltiana-txt {
  .size(16px, 193px);
  background-position: -750px -250px;
}

.next-tiny-arrow {
  .size(31px, 18px);
  background-position: -950px -120px;
}

.previous-tiny-arrow {
  .size(31px, 18px);
  background-position: -900px -120px;
}

//END SPRITES

//THE MEN WHO BUILT AMERICA - MAN PAGES

.mwba-title-red-man-page {
  margin: 8px auto 0 auto;
  .clearfix();
}

#body-aetn-mwbaPetroliana, #body-aetn-mwbaRooseveltiana, #body-aetn-mwbaRailroadiana {
  .slots-container, #slot1, #footer-links {
    width: 980px;
  }

  .slots-container {
    border-left: none;
    margin-left: 0;
  }

  #content, #slot1 {
    background-image: url("@{baseUrl}/misc/mwba/mwba-man-pages-pattern.png");
    background-position: 0 0;
    background-repeat: repeat;
  }

  .header-mwba {
    position: relative;
    .size(385px, 980px);

    .title {
      position: relative;
      margin: 10px auto 0 auto;
    }
    .text-container {
      position: absolute;
      left: 106px;
      bottom: 0;
      margin: 0;
      .size(196px, 475px);

      a {
        color: #0066ff;
      }
    }
    .text-container {
      font-size: 10px;
      line-height: 14px;
      font-weight: bold;
      font-family: georgia;
      text-align: justify;
    }
    .previous-man, .next-man {
      display: block;
      position: absolute;
      top: 195px;
      font-size: 36px;
      color: #000;
    }
    .next-man {
      right: 18px;
      .next-tiny-arrow();
    }
    .previous-man {
      left: 18px;
      .previous-tiny-arrow();
    }
  }

  .paper-wrapper {
    position: absolute;
    left: 246px;
    bottom: 0;
    .mwba-man-pages-bg();
  }

}


#body-aetn-mwbaPetroliana {

  .header-mwba {
    background: url("@{baseUrl}/misc/mwba/mwba-page-petroliana-bg.jpg") no-repeat 0 0;

    .title {
      .mwba-rockefeller-page-banner();
    }
    .text-container {
      background: url("@{baseUrl}/misc/mwba/mwba-petrolania-watermark.png") no-repeat center bottom;
    }
  }
  .name {
    .title-petroliana-txt();
    margin: 10px auto 0 auto;
  }
}

#body-aetn-mwbaRooseveltiana {

  .header-mwba {
    background: url("@{baseUrl}/misc/mwba/mwba-page-rooseveltiana-bg.jpg") no-repeat 0 0;

    .title {
      .mwba-roosevelt-page-banner();
    }
    .text-container {
      background: url("@{baseUrl}/misc/mwba/mwba-rosseveltiania-watermark.png") no-repeat center bottom;
    }
  }
  .name {
    .title-rooseveltiana-txt();
    margin: 10px auto 0 auto;
  }
}

#body-aetn-mwbaRailroadiana {

  .header-mwba {
    background: url("@{baseUrl}/misc/mwba/mwba-page-railroadiana-bg.jpg") no-repeat 0 0;

    .title {
      .mwba-vanderbilt-page-banner();
    }
    .text-container {
      background: url("@{baseUrl}/misc/mwba/mwba-railroadania-watermark.png") no-repeat center bottom;
    }
  }
  .name {
    .title-railroadiana-txt();
    margin: 10px auto 0 auto;
  }
}

.mwba-american-flag {
  .banner {
    display: block;
    text-align: center;
  }
}

//

#mwba_collectibles {
  padding-left: 9px;
}

#seemore_popupbutton {
  display: block;
  margin: auto;
  height: 103px;
  width: 268px;
  background: url("@{baseUrl}/misc/seemore_popupbutton.png");

  &:hover {
    background-position: 0 -104px;
  }

  a {
    display: block;
    height: 104px;
    width: 268px;
  }
}

