@import "../_variables.less";
@import "../_mixins.less";


#all-categories {
  .span4 {
    margin-bottom: 20px;
    width: 223px;

    a {
      color: @blue;
      line-height: 18px;
      &:hover {
        color: @red;
        text-decoration: none;
      }
    }
    h2 a {
      color: @blueDark;
    }
  }
  br.three-col {
    display: none;
  }
}

div.onecolumn {
  ul {
    list-style-type: none;
    margin: 0;

    li {
      color: @red;
    }

    ul {
      margin-left: 15px;
    }
  }
}


