@import "../_variables.less";
@import "../_mixins.less";


#all-categories {
	margin-top: 20px;

	.span4 {
		margin-bottom: 20px;

		a {
			color: @blue;
			line-height: 20px;
			&:hover {
				border-bottom: 1px solid @red;
			}
		}
		h2 {
			line-height: 28px;
			margin-bottom: 15px;
		}
		h2 a {
			color: @blueDark;
			line-height: 28px;
		}
	}
}
