@import "../_variables.less";
@import "../_mixins.less";

#user-collections {

  .link-user-collection {
    display: block;
    margin: 7px 6px 4px 7px;
    font-size: 12px;
    .text-overflow();
  }
  .row {
    margin-left: -20px;

    .span4 {
      width: 193px;
      margin-left: 20px;
      margin-bottom: 20px;
    }
  }

  .thumbnails {
    margin-left: 0;
    margin-bottom: 0;

    .span4 {
      width: 55px;
      margin-left: 7px;
      margin-bottom: 6px;
      font-size: 12px;
      border: none;
      .box-shadow(none);
      .border-radius(0);
    }
    &:hover {
        border: none;
        background-color: white;
        .border-radius(0);
      }
      span4:first-child {
        margin-left: 0;
      }
    .thumbnail {
      padding: 0;
      border: none;
      .box-shadow(none);
      .border-radius(0);
    }
  }

  .well {
    padding: 10px;
  }
}


#user-collectibles-for-sale {
  .thumbnails {
    .span3 {
      width: 133px;
      margin-bottom: 15px;
      font-size: 12px;
      border: 1px solid @boxBorder;
      .box-shadow(none);
      .border-radius(0);

      &:hover {
        border: 1px solid @blue;
        background-color: white;
        .border-radius(0);
      }
      p {
        margin-bottom: 2px;
        padding: 5px 2px 0 2px;
        font-size: 12px;
        .text-overflow();
      }
      span {
        display: block;
        padding-right: 2px;
        font-weight: bold;
        text-align: right;
        color: @blueDark;
      }
    }
  }

  .well {
    padding: 10px;
    padding-bottom: 5px;
  }
}


.body-collector-signup .control-group {
  margin-bottom: 20px;
}

#body-general-login, #body-collector-signup, #body-general-recoverPassword {

  #main .form-actions {
    margin: 0;
    text-align: left;
    border-top: none;
    background-color: @lightBlue;
  }

  #main .form-horizontal {
    margin-top: 20px;

    .control-group {
      width: 600px;
      margin: 20px auto 25px auto;
    }
    .form-actions {
      padding-left: 210px;
    }

    label {
      font-size: 12px;
      letter-spacing: 0.01em;
      color: @brown;
    }
    label.control-label {
      width: 180px;
      font-weight: bold;
    }
    .control-description-r {
      padding-left: 10px;
      text-size: 12px;
      color: @brown;
    }
    .controls {
      width: 400px;
      margin-left: 200px;
    }
    .help-block {
      margin-top: 5px;
      font-size: 12px;
      color: @brown;
    }
    .email-suggestion {
      display: block;
      float: left;
      margin-top: 5px;
      font-size: 12px;
      color: @brown;
    }
    label.disabled, p.disabled {
      color: #a4a5a9;
    }
    .price-indent {
      margin-right: 2px;
      margin-left: 20px;
    }

    input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
      background-color: #f2f8fc;
      border-color: #d3d9de;
    }
  }
}

#body-collector-signup #main .form-horizontal .form-actions {
  background-color: #fff;
}

.signup-text {
  dd {
    margin-top: 5px;
    margin-bottom: 20px;
    line-height: 22px;
  }
}

.signup-text-bg {
  padding: 15px 15px 0 15px;
  background: #fff8e0;
}
