@import "../_variables.less";
@import "../_mixins.less";

#sample-roundabout {
  .size(290px, 440px);
  margin: 0 auto;
  padding: 0;
  list-style: none;
  opacity: 0;

  li {
    .size(310px, 520px);
    background-color: transparent;
    cursor: pointer;
    .box-shadow(0 0 9px rgba(59, 45, 44, 1));
    .border-radius(7px);
  }

  li.roundabout-in-focus {
    cursor: auto;
  }

  li .wrapper {
    padding: 0;
    background-color: transparent;
  }

  li .wrapper img {
    width: 100%;
    .border-radius(7px);
  }
}

#carousel-holder {
  position: relative;

  .carousel-next {
    display: block;
    position: absolute;
    top: 45%;
    right: 30px;
    border: none;
  }

  .button-carousel-next {
    display: block;
  }

  .carousel-previous {
    display: block;
    position: absolute;
    top: 45%;
    left: 25px;
    border: none;
  }

  .button-carousel-previous {
    display: block;
  }

  .button-carousel-previous:focus, .button-carousel-next:focus {
    outline: none;
  }

  .carousel-in-focus-title-container {
    display: block;
    position: absolute;
    bottom: 8%;
    z-index: 100;
    width: 100%;
    #translucent > .background(#fff, 0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#99ffffff', endColorstr = '#99ffffff', GradientType = 0);
  }

  .carousel-in-focus-title {
    margin: 3% 4%;
  }

  li.roundabout-moveable-item .carousel-in-focus-title-container {
    display: none;
  }

  li.roundabout-in-focus .carousel-in-focus-title-container {
    display: block
  }

  .carousel-in-focus-title h2 {
    margin-bottom: 0;
    padding-bottom: 8px;
    font-size: 1.75em;
    font-weight: bold;
    line-height: 1.1;
    text-align: left;
    color: #125375;
  }

  .carousel-in-focus-title h3 {
    margin-top: 0;
    padding-top: 0;
    font-size: 1.5em;
    line-height: 1.1;
    text-align: center;
    color: #fff !important;
  }

  .carousel-in-focus-title p {
    width: auto;
    margin: 0;
    font-size: 1em;
    text-align: left;
  }

  div.over h2 {
    color: @red;
  }
}

#homepage {
  margin-top: 15px;

  h3 {
    line-height: 18px;
  }

  .span3 {
    width: 140px;
    margin-bottom: 15px;
  }
  .span6 {
    width: 295px;
    margin-bottom: 15px;
  }

  .masonry-blogpost {
    position: relative;
    .square(291px);
    margin-bottom: 19px;

    .link {
      display: inline-block;
      overflow: hidden;
      z-index: 10;
      .size(210px, 260px);
      padding: 10px 15px 15px 15px;
      text-decoration: none;
      color: #125375;
      zoom: 1;

      p {
        font-size: 18px;
        line-height: 25px;
      }

      h3 {
        color: #125375;
        &:hover {
          color: #0A82C2;
        }
      }
    }
  }

  .yellow-background {
    border: 2px solid #CFE0E9;
  }

  .blue-background {
    background: #CFE0E9;
  }
}

#homepage .details {
  padding: 10px;
  word-wrap: break-word;

  img {
    float: left;
    margin-right: 4px;
    border: 1px solid #dbdbdb;
  }
}

#homepage .square, #homepage .tall, #homepage .wide {
  position: relative;
  overflow: hidden;
  color: #125375;
  text-align: left;
  background: none repeat scroll 0 0 white;
  cursor: pointer;
}

#homepage .tall {
  .size(295px, 140px);

  .details-inner {
    overflow: hidden;
    height: auto !important;
    height: 240px;
    max-height: 240px;
    margin-bottom: 8px;
  }
}

#homepage .square {
  .square(140px);

  .details-inner {
    overflow: hidden;
    height: auto !important;
    height: 88px;
    max-height: 88px;
    margin-bottom: 8px;
  }
}

#homepage .wide {
  .size(140px, 295px);

  .details-inner {
    overflow: hidden;
    height: auto !important;
    height: 90px;
    max-height: 90px;
    margin-bottom: 8px;
  }
}

#homepage .masonry-blogpost-author {
  position: absolute;
  bottom: 0;
  .size(40px, 270px);
  padding: 4px 10px;

  img {
    float: left;
    margin-right: 10px;
    border: 1px solid #efefef;
  }
}

#homepage .blog-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  .square(280px);
  padding: 10px 0 0 10px;
  background-color: @white;
  .transition(all 0.4s ease-in-out);
}

#homepage .masonry-blogpost:hover .blog-img {
  opacity:0;
}

.lt-ie9 #homepage .masonry-blogpost:hover .blog-img {
  display: none;
}

#homepage .link-brick img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#homepage .tall img, #homepage .wide img{
  .transition(all 0.2s ease-in-out);
}

#homepage .square:hover > a img, .tall:hover > a img, .wide:hover > a img {
  background: white;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.homepage-featured {
  float: left;
  margin-left: 15px;
  padding-left: 10px;
  width: 442px;
  margin-bottom: 10px;

  &.bordered {
    border-left: 10px solid #BD0000;
  }

  h2 {
    color: @blueDark;
    line-height: 26px;
    font-size: 22px;
    margin-bottom: 8px;
    background: url("@{baseUrl}/blue-dotted-line.png") repeat-x bottom;

    a.link {
      color: @blueDark;

      &:hover {
        color: @red;
      }
    }
  }

  img {
    float: left;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  div#content
  {
    width: 612px;
    padding-left: 8px;
  }

  #sample-roundabout {
    .size(241px, 150px);
  }

  #sample-roundabout li {
    .size(241px, 405px);
  }

  .carousel-next, .carousel-previous {
    top: 42%;
  }

  .carousel-next {
    right: -7px;
  }

  .carousel-previous {
    left: -10px;
  }

  .carousel-in-focus-title {
    // display: none;
  }
}
