@import "../_variables.less";
@import "../_mixins.less";

#breadcrumbs {
  margin-bottom: 0;
}

#content {
  padding-top: 10px;
}

.private-message-thread {
  .form-horizontal {
    .control-label {
      width: 90px;
    }
    .controls {
      margin-left: 100px;
    }
    .form-actions {
      padding-left: 100px;
    }
  }
}

.private-messages-list {
  .unread {
    font-weight: bold;
  }
  .sender-col {
    width: 25%;
  }
  .message-col {
    a {
      color: @grayDark;
    }
    span {
      color: @grayLight;
    }
    small {
      font-size: 77%;
    }
  }
}

.private-messages-list-select {
  padding-right: 10px;
}

