@import "../_variables.less";
@import "../_mixins.less";

#breadcrumbs {
  margin-bottom: 0;
}

#content {
  padding-top: 10px;
}

.private-message-thread {
  table-layout: fixed;

  .form-horizontal {
    .control-label {
      width: 90px;
    }
    .controls {
      margin-left: 100px;
    }
    .form-actions {
      padding-left: 100px;
    }
  }
}

.private-messages-list {
  table-layout: fixed;

  tbody tr.unread:hover td {
    background-color: @yellowBackground;
  }

  .unread {
    font-weight: bold;
    background: @yellowSolarized;
  }
  .select-col {
    width: 4%;
  }
  .select-col input {
    left: -1px;
    position: relative;
  }
  .sender-col {
    width: 25%;
  }
  .message-col {
    overflow: hidden;
    word-wrap:  break-word;

    a {
      color: @grayDark;
    }
    span {
      color: @grayLight;
    }
    small {
      font-size: 77%;
    }
  }
}

.private-messages-list-select {
  padding-right: 10px;
}

.btn-cq {
	padding-top: 5px;
	padding-bottom: 5px;
}

.checkbox-arrow {
	margin: 0 4px 0 10px;
}

.private-messages-list .avatar
{
	float: left;
	border:1px solid #ececec;
	padding:4px;
	background-color:white;
	margin-right: 6px
}

.show-all-text {
	display: block;
	margin: 6px 12px 0 0;
}

.not-read td {
	background-color: #D9EDF7 !important;
	color: @blueDark;
}

.table-condensed th, .table-condensed td {
	padding: 8px 5px;
}

.form-actions {
	background-color: @lightBlue;
	border-top: none;
}

td.sender {
	width: 120px;
	padding-left: 10px;
	padding-right: 10px;
  word-wrap: break-word;
}

td.subject {
	background-color: #ffffff !important;
	height: 34px;
}

td.message {
  overflow: hidden;
  word-wrap:  break-word;
	border: none;
	border-left: 1px solid #ddd;
}

.reply-form {
	margin-left: 120px;
}

.reply-form-title {
	display: block;
	font-weight: bold;
	color: @blueDark;
	font-size: 14px;
	margin: 10px 0 20px 160px;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
	#gradient > .vertical(@btnPrimaryBackground, @btnPrimaryBackgroundHighlight);
}

.avatar-in-title {
  margin-top: -37px;
}
