@import "../_variables.less";
@import "../_mixins.less";

#search-results {
  margin-top: 15px;
}

#main .row [class*="span"],
#main .row-fluid [class*="span"] {
  margin-bottom: 15px;
}

#sidebar .nav li span {
  line-height: 26px;
  color: #999;
  padding: 3px 22px;
}

#sidebar .nav a {
  padding-left: 37px;
}

#sidebar .nav li.active a {
  padding-left: 15px;
}

/**** Transitions ****/

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
  -moz-transition-property: left, right, top;
  -o-transition-property: left, right, top;
  transition-property: left, right, top;
}

.collector_grid_view {
	border: 1px solid #ebebeb;
	padding: 10px 12px;
	height: 130px;
	overflow: hidden;

	h2 {
		.custom-font(18px, 22px, normal, normal);
	}
	.about {
		margin-top: 10px;
		margin-left: 0;
		font-size: 12px;
		height: 54px;
		overflow: hidden;
	}
	.stat-area {
		height: 44px;
		padding-top: 14px;
		margin-left: 5px;
		background-color: @yellowBackground;
		color: @brown;
		display: block;
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		span {
			font-size: 10px;
			line-height: 14px;
			display: block;
			padding-top: 4px;
		}
	}

	[class*="span"], ul {
			margin-bottom: 0 !important;
	}
}
