@import "../_variables.less";
@import "../_mixins.less";

#body-seller-packages .control-group {
  margin-bottom: 20px;
}

#body-seller-packages {

  #main .form-actions {
    text-align: left;
    background-color: @lightBlue;
    border-top: none;
  }

  #main .form-horizontal {
    margin-top: 0;

    .radio_list {
      margin-top: 3px;
    }

    fieldset.signup-form {
      .control-group {
        margin: 0 auto 9px auto;

        .controls {
          margin-left: 145px;
        }
        label {
          width: 125px;
        }
        input {
          width: 372px;
        }
      }
    }

    .control-group {
      width: 600px;
      margin: 20px auto 25px auto;
    }

    .discount-code-wrapper {
      margin: 10px auto;
    }
    .control-group.packages-wrapper {
      margin-top: 10px;
      margin-bottom: 0;
    }

    .form-actions {
      padding-left: 180px;
    }

    label {
      font-size: 12px;
      color: @brown;
      letter-spacing: 0.01em;
    }
    label.control-label {
      width: 150px;
      font-weight: bold;
    }
    .control-description-r {
      padding-left: 10px;
      color: @brown;
      text-size: 12px;
    }
    .controls {
      width: 430px;
      margin-left: 170px;
    }
    .controls-inline {
      .radio.inline {
        padding-left: 5px;
      }
      ul.packages {
        float: left;

        li {
          float: left;
          &:first-child {
            margin-right: 125px;
          }
        }
      }
    }
    .help-block {
      color: @brown;
      font-size: 12px;
      margin-top: 5px;
    }
    .email-suggestion {
      display: block;
      float: left;
      color: @brown;
      font-size: 12px;
      margin-top: 5px;
    }
    label.disabled, p.disabled {
      color: #a4a5a9;
    }
    .price-indent {
      margin-right: 2px;
      margin-left: 20px;
    }

    input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
      background-color: #f2f8fc;
      border-color: #d3d9de;
    }
  }
  .payment-type label.control-label {
    float: none;
    width: 100%;
  }
  input, textarea, select, .uneditable-input {
    .border-radius(3px);
  }
  #packages_expiry_date_month {
    width: 50px;
  }
  #packages_expiry_date_year {
    width: 65px;
    margin-left: 4px;
  }
  .info-text {
    margin: 20px 10px 10px 180px;
    color: @blueDark;
    font-size: 11px;
    font-weight: bold;
  }
  .reset-label-colors label {
    color: @blueDark !important;
  }

  .form-horizontal #credit-card-info .control-group  {
    margin: 12px auto;
  }
  #packages_cvv_number {
    width: 60px;
  }
  .expiration-date-slash {
    float:left;
    margin: 2px 0 2px 2px;
    font-size: 18px;
    line-height:22px;
  }
  .cid_icon_generic {
    width: 36px;
    float: left;
    margin-top: 2px;
    margin-right: 6px;
  }
}

.seller-info-box-yellow {
  padding: 15px 15px 1px 15px;
  background: #fff8e0;

  .text-container {
    margin-bottom: 0;

    dd {
      margin-top: 5px;
      margin-bottom: 20px;
      line-height: 22px;
    }
  }
}

#body-seller-packages #main .form-horizontal .form-actions {
  margin-top: 20px;
  background-color: #fff;
}


.with-required-token {
  padding-top: 4px;

  .radio_list {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.form-container-center {
  margin-top: 20px;
  padding-left: 120px;
  text-align: center;
}


span.old-price {
  text-decoration: line-through;
}

span.current-price {
  color: green;
  font-weight: bold;
}


//Packeges

.choice-packages {

  .radio input {
    margin-top: 9px;
  }
  .radio {
    margin-bottom: 15px;
    cursor: pointer;

  }
  .price-per-item {
    display: block;
    margin: 2px 0 0 20px;
    font-style: italic;
  }

  .package {
    display: block;
    height: 18px;
    margin-left: 6px;
    padding: 4px 10px 6px 10px;
    font-size: 20px;
    line-height: 20px;
    color: @blueDark;
    border: 1px solid #ededed;
    .border-radius(6px);
    .box-shadow( inset 0 0 0 1px #fff);
    background-color: #FCF9F3;

    &:hover {
      background-color: #FFF4CF !important;
      #gradient > .horizontal(#FFF6D1, #FFF2BD);
      border-color: #ffefbb;
    }

    span.strikethrough {
      text-decoration: line-through;
    }
    span.green {
      color: @green;
    }

  }
  .package1 {
    .package();
    width: 180px;
    #gradient > .horizontal(#FFFAF0, #FFF0CC);
  }
  .package2 {
    .package();
    width: 250px;
    #gradient > .horizontal(#FFFAF0, #FFE5A8);
  }
  .package3 {
    .package();
    width: 360px;
    #gradient > .horizontal(#FFFAF0, #FFDC8A);
  }
  .package6 {
    .package();
    width: 485px;
    #gradient > .horizontal(#FFFAF0, #FFD166);
  }
  .selected {
    &> span {
    border: 1px solid @blue;
    #gradient > .horizontal(@lightBlue, @lightBlue);
    }
  }
}

#body-seller-packages .tooltip.top.in {
  .opacity(100);
}



.packages-container {
  .bars-wrapper {
    margin-top: 0;
    padding: 0 20px;

    .columns {
      position: relative;
      height: 210px;
      text-align: center;
    }
  }

  .package-bar {
    position: absolute;
    bottom: 0;
    width: 200px;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 22px;
    line-height: 24px;
    border: 1px solid #ededed;
    .border-radius(8px 8px 0 0);
    .box-shadow(~"inset 0 0 0 1px #fff, 0 1px 5px 0 #efefef");
    #gradient > .vertical(#fbe9b1, #fffbec);

    &.package1 {height: 85px; padding-top: 12px!important;}
    &.package2 {height: 100px;}
    &.package3 {height: 140px;}
    &.package4 {height: 200px;}

    &.package4 .red {
      font-size: 28px;
      line-height: 28px;
    }
    &.package4 .desc-red {
      font-size: 24px;
      line-height: 24px;
    }

    .price {
      position: absolute;
      bottom: 0;
      width: 200px;
      margin: 0 auto 10px auto;
      text-align: center;

      &.red {
        font-size: 20px;
        line-height: 20px;
      }
      .desc {
        display: block;
        padding-top: 10px;
        font-size: 14px;
        line-height: 14px;
        color: @brown;
      }
    }
    .desc-blue {
      display: block;
      padding-top: 16px;
      font-size: 18px;
      line-height: 18px;
      color: @blueDark;
    }
    .desc-red {
      display: block;
      padding: 20px 0;
      color: @red;
    }
  }

  .wrapper-bottom {
    margin-top: 20px;
    padding: 20px 20px 30px 20px;
    background: rgb(8,99,148); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA4NjM5NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzA5NzNhYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYTgyYzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgb(8,99,148) 0%, rgb(9,115,172) 50%, rgb(10,130,194) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(8,99,148)), color-stop(50%,rgb(9,115,172)), color-stop(100%,rgb(10,130,194))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgb(8,99,148) 0%,rgb(9,115,172) 50%,rgb(10,130,194) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgb(8,99,148) 0%,rgb(9,115,172) 50%,rgb(10,130,194) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgb(8,99,148) 0%,rgb(9,115,172) 50%,rgb(10,130,194) 100%); /* IE10+ */
    background: linear-gradient(top,  rgb(8,99,148) 0%,rgb(9,115,172) 50%,rgb(10,130,194) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#086394', endColorstr='#0a82c2',GradientType=0 ); /* IE6-8 */

    h4 {
      margin-bottom: 6px;
      .custom-font(20px, 24px, italic, normal);
      .smooth-font();
      color: #fff;
      letter-spacing: 0.01em;
    }
    p {
      color: #fff;
    }
  }
}

.credit-card-wrapper {
  .size (auto, 420px);
  margin-left: 118px;
  margin-bottom: 40px;
  border: 1px solid #D4D4D4;
  background: #f8f8f8; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjU4JSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZWZlZmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(-45deg,  #f8f8f8 58%, #fefefe 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(58%,#f8f8f8), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #f8f8f8 58%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #f8f8f8 58%,#fefefe 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #f8f8f8 58%,#fefefe 100%); /* IE10+ */
  background: linear-gradient(135deg,  #f8f8f8 58%,#fefefe 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#fefefe',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
  .border-radius(6px);

  .gray-bg {
    background-color: #D5D5D5;
    margin-top: 15px;
    padding: 8px 15px;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    color: @brown;
  }
  .credit-card-inner {
    margin: 10px;

    small {
      font-size: 11px;
      color: @brown;
    }
    .cc_number input {
      width: 245px;
    }
    .cvv_number
    input {
      width: 55px;
    }
    .help {
      display: inline-block;
      vertical-align: middle;
      font-size: 26px;
      color: #D5D5D5;
    }
    .cc_name input {
      width: 115px;
    }
  }
}

.lt-ie10 .credit-card-wrapper {
  filter: none;
}

#credit-card-info .controls {
  .alert-error {
    width: 304px;
  }
  input {
    width: 346px;
  }
  select {
    width: 360px;
  }
}

.agreement-checks .controls .alert-error{
  width: 300px;
}

.checkbox-indent {
	margin-bottom: 25px !important;
	margin-right: 10px !important;
}

ul.blue-listing li {
  position: relative;
  padding: 0 0 8px 38px;
  padding-bottom: 8px;
  font-size: 15px;
  font-weight: bold;
  color: @blueDark;

  i {
    display: block;
    position: absolute;
    left: 0;
    margin: 3px 10px 0 0;
  }
}

.font-20 {
  font-size: 20px;
}

.marketplace-buy-a-package {
  color: @blueDark;

  .info-box-wrap {
    overflow: hidden;
  }
  .info-box {
    position: relative;
    margin-bottom: -99999px;
    padding: 15px 20px 99999px;
    background-color: #fffaea;

    .btn-position {
      position: absolute;
      left: 284px;
      top: 204px;
    }
    h3 {
      margin-bottom: 15px;
      font-size: 20px;
    }

    .table {
      font-size: 16px;
      border-collapse: separate;

      thead {
        tr {
          background: none;
        }
        th {
          font-weight: normal;
          text-align: center;
          border-bottom: 1px groove @blueDark;
        }
      }
      td {
        font-weight: bold;
        text-align: center;
        border: 0;
      }
      tr {
        background: url("@{baseUrl}/blue-dotted-line.png") repeat-x bottom;
      }
    }

    p {
      font-size: 12px;
      font-weight: bold;
      text-align: center;
    }
  }

  .questions {
    padding: 20px 0 0 20px;

    .question {
      width: 286px;
      margin-right: 20px;

      .btn-signup {
        width: 90%;
      }

      h3 {
        margin-bottom: 10px;
        padding-bottom: 10px;
        font-size: 20px;
        font-weight: 900;
        background: url("@{baseUrl}/blue-dotted-line.png") repeat-x bottom;

        i {
          display: block;
          float: right;
          margin: 5px 3px 0 0;
        }
      }
      p {
        font-size: 14px;
      }
    }
  }

  .selling-guides {
    a {
      display: block;
    }
    img {
      max-width: none; // intentionally allow overflow
    }
  }


  .btn-signup {
    display: inline-block;
    .ie7-inline-block();
    padding: 9px 14px;
    margin-bottom: 0; // For input.btn
    font-size: 20px;
    line-height: 18px;
    *line-height: 18px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    .buttonBackground(#2093c3, #0971BA, #f0f7fb);
    .border-radius(3px);
    .ie7-restore-left-whitespace(); // Give IE7 some love
    .box-shadow(inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05));

    // Hover state
    &:hover,
    &:focus {
      text-decoration: none;
      background-position: 0 -15px;

      // transition is only when going to hover, otherwise the background
      // behind the gradient (there for IE<=9 fallback) gets mismatched
      .transition(background-position .1s linear);
    }

    // Focus state for keyboard and accessibility
    &:focus {
      .tab-focus();
    }

    // Active state
    &.active,
    &:active {
      background-image: none;
      outline: 0;
      .box-shadow(~"inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)");
    }

    // Disabled state
    &.disabled,
    &[disabled] {
      cursor: default;
      background-image: none;
      .opacity(65);
      .box-shadow(none);
    }

  }
}