.box {
  background: white url(/images/legacy/footer-bgr.png) repeat-x bottom;
  border: 1px solid #DCDFCE;
  border-bottom: 2px solid #DCDFCE;
  border-right: 2px solid #DCDFCE;
  padding: 10px;
  padding-top: 10px;
  margin: 0;
}
