div#wizard div.wpfaqcontent { display: none; }
div#wizard h4.wpfaqtoggle { padding: 0 10px 0 15px; color: #125375; cursor: pointer; }
div#wizard h4.open-form { padding: 10px 0 0 0; color: #125375; cursor: pointer; }
div#wizard div.wpfaqacc { margin: 0 0 10px 0 }
div#wizard div.wpfaqcontenti { margin: 10px 0; }
div#wizard h3 { margin-bottom: 15px; }
div#wizard div#feedback-form { margin: 20px 0 0 0; display: none; }

div#wizard .contact-form { padding-top: 10px; }
div#wizard .contact-form label span { color: #0A82C2; }
div#wizard .contact-form textarea { height: 120px; }

.swMain {
  position:relative;
  display:block;
  margin:0;
  padding:0;
  border: 0px solid #CCC;
  overflow:visible;
  float:left;
  width:620px;
  margin-top: -16px;
}
.swMain .stepContainer {
  display:block;
  position: relative;
  margin: 0;
  padding:0;
  border: 0px solid #CCC;
  clear:both;
  height:300px;
}

.swMain .stepContainer div.content {
  display:block;
  float:left;
  margin: 0;
  font-size: 12px;
  color:#5A5655;
  background-color:#fff;
  text-align:left;
  overflow:visible;
  z-index:88;
  clear:both;
  width: 620px;
}

.swMain div.actionBar {
  display:block;
  clear:both;
  margin:             3px 0 0 0;
  padding:            5px 0;
  color:              #5A5655;
  background-color:   #fff;
  height:40px;
  text-align:left;
  overflow:auto;
  z-index:88;
  left:0;
  border-top: 1px dashed #E7E4E4;
}

.swMain .stepContainer .StepTitle {
  display:block;
  position: relative;
  margin:0;
  padding:5px;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color:#fff;
  background-color:#C00000;
  clear:both;
  text-align:left;
  z-index:88;
}
.swMain ul.anchor {
  position: relative;
  display:block;
  float:left;
  list-style: none;
  padding: 0px;
  margin: 0 0 10px 0;
  clear: both;
  border: 0px solid #CCCCCC;
  background: transparent; /*#EEEEEE */
}
.swMain ul.anchor li{
  position: relative;
  display:block;
  margin: 0;
  padding: 0;
  margin-right: 4px;
  padding-right: 3px;
  border: 0px solid #E0E0E0;
  float: left;
}
/* Anchor Element Style */
.swMain ul.anchor li a {
  display:block;
  position:relative;
  float:left;
  margin:0;
  padding:3px;
  height:60px;
  width:143px;
  text-decoration: none;
  outline-style:none;
  -moz-border-radius  : 5px;
  -webkit-border-radius: 5px;
  z-index:99;
}
.swMain ul.anchor li a .stepNumber{
  position:relative;
  float:left;
  width:30px;
  text-align: center;
  padding:5px;
  padding-top:0;
  font-size: 25px;
  display: none;
  font-weight: bold;
}
.swMain ul.anchor li a .stepDesc{
  position:relative;
  display:block;
  float:left;
  text-align: left;
  padding:5px;

  font-size: 20px;
  font-weight: bold;
}
.swMain ul.anchor li a .stepDesc small{
  font-size: 12px;
  font-weight: normal;
}
.swMain ul.anchor li a.selected{
  color:white;
  background: #C00000;  /* EA8511 */
  cursor:text;
  -moz-box-shadow: 2px 2px 4px #888;
  -webkit-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
}

.swMain ul.anchor li a.done {
  position:relative;
  color:#FFF;
  background: #0F7CB6;
  z-index:99;
}
.swMain ul.anchor li a.done:hover {
  color:#fff;
  background: #C00000;
}
.swMain ul.anchor li a.disabled {
  color:#CCCCCC;
  background: #F8F8F8;
  cursor:text;
}
.swMain ul.anchor li a.disabled:hover {
  color:#CCCCCC;
  background: #F8F8F8;
}

.swMain ul.anchor li a.error {
  color:#6c6c6c !important;
  background: #f08f75 !important;
  border: 1px solid #fb3500 !important;
}
.swMain ul.anchor li a.error:hover {
  color:#000 !important;
}

.swMain .buttonNext {
  display:block;
  float:right;
  margin:5px 3px 0 3px;
  padding:5px;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
  width:100px;
  color:#FFF;
  outline-style:none;
  background-color: #0F7CB6;
  -moz-border-radius  : 6px;
  -webkit-border-radius: 6px;
  font-weight: bold;
}
.swMain .buttonDisabled {
  color:#F8F8F8  !important;
  background-color: #CCCCCC !important;
  cursor:text;
}
.swMain .buttonPrevious {
  display:block;
  float:right;
  margin:5px 3px 0 3px;
  padding:5px;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  width:100px;
  color:#FFF;
  outline-style:none;
  background-color: #0F7CB6;
  -moz-border-radius  : 6px;
  -webkit-border-radius: 6px;
}

.swMain .buttonPrevious:hover, .swMain .buttonNext:hover {
  background-color: #C00;
}

.swMain .buttonDisabled .buttonPrevious:hover, .swMain .buttonDisabled .buttonNext:hover {
  background-color: #C00;
}
.swMain .buttonFinish {
  display:block;
  float:right;
  margin:5px 10px 0 3px;
  padding:5px;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  width:100px;
  color:#FFF;
  outline-style:none;
  background-color:   #5A5655;
  border: 1px solid #5A5655;
  -moz-border-radius  : 5px;
  -webkit-border-radius: 5px;
  display: none;
}

/* Form Styles */

.txtBox {
  border:1px solid #CCCCCC;
  color:#5A5655;
  font-size:13px;
  padding:2px;
  width:430px;
}
.txtBox:focus {
  border:1px solid #EA8511;
}

.swMain .loader {
  position:relative;
  display:none;
  float:left;
  margin: 2px 0 0 2px;
  padding:8px 10px 8px 40px;
  border: 1px solid #FFD700;
  font-size: 13px;
  font-weight: bold;
  color:#5A5655;
  background: #FFF url(../images/loader.gif) no-repeat 5px;
  -moz-border-radius  : 5px;
  -webkit-border-radius: 5px;
  z-index:998;
}
.swMain .msgBox {
  position:relative;
  display:none;
  float:left;
  margin: 4px 0 0 5px;
  padding:5px;
  border: 1px solid #FFD700;
  background-color: #FFFFDD;
  font-size: 12px;
  font-weight: normal;
  color:#5A5655;
  -moz-border-radius  : 5px;
  -webkit-border-radius: 5px;
  z-index:999;
  min-width:200px;
}
.swMain .msgBox .content {
  font-size: 12px;
  font-weight: normal;
  padding: 0px;
  float:left;
}
.swMain .msgBox .close {
  border: 1px solid #CCC;
  border-radius: 3px;
  color: #CCC;
  display: block;
  float: right;
  margin: 0 0 0 5px;
  outline-style: none;
  padding: 0 2px 0 2px;
  position: relative;
  text-align: center;
  text-decoration: none;
}
.swMain .msgBox .close:hover{
  color: #EA8511;
  border: 1px solid #EA8511;
}
