generator:
  class: IcePropelGenerator
  param:
    model_class:           ShoppingOrder
    theme:                 bootstrap
    non_verbose_templates: true
    with_show:             false
    singular:              ShoppingOrder
    plural:                ShoppingOrders
    route_prefix:          shopping_order
    with_propel_route:     1
    actions_base_class:    cqBackendActions

    config:
      actions: ~
      fields:
        collector_seller: { label: "Seller" }
        buyer_email: { label: Buyer Email }
        shipping_full_name: { label: Buyer Name }
        payment_status: { label: Payment Status }
        created_at: { label: Date, date_format: 'MM/dd/yyyy' }
      list:
        fields:
          list_seller: { label: Seller }
          list_buyer: { label: Buyer }
          list_buyer_profile: { label: '<i class="icon-user"></i>' }
          list_collectible: { label: Collectible }
          list_total_amount: { label: Total }
          list_progress: { label: Progress }
          list_payment_details: { label: Payment }
          list_shipping: { label: Shipping }
        title: Orders
        display:
          - =uuid
          - _list_seller
          - _list_buyer
          - _list_collectible
          - _list_total_amount
          - _list_progress
          - _list_payment_details
          - created_at
        sort: [created_at, desc]
        actions: []
        batch_actions: {}
        object_actions: {}
      filter:
        class: BackendShoppingOrderFormFilter
        display: [collector_seller, buyer_email, shipping_full_name, payment_status, created_at]
      form:
        display:
          - shipping_full_name
          - shipping_phone
          - shipping_address_line_1
          - shipping_address_line_2
          - shipping_city
          - shipping_state_region
          - shipping_zip_postcode
          - shipping_country_iso3166
          - shipping_carrier
          - shipping_tracking_number
          - note_to_seller
      edit:
        title: Edit Order
      new:     ~
      export:
        sort: [id, asc]
        display: [id]
