.collection {
  clear: right;
  padding: 10px 0;
  margin-right: 0;
}

.collection div.stack {
  background: url(/images/legacy/stack-small.png);
  width: 56px;
  height: 57px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 5px;
  padding: 3px 0 0 10px;
  float: left;
}

.collection div.caption {
  text-align: left;
  padding-right: 10px;
  margin-left: 80px;
}

.grid_view_collection div.stack,
.list_view_collection div.stack {
  background: url(/images/legacy/stack.png);
  width: 158px;
  height: 159px;
  margin: auto;
  padding: 5px 0 0 14px;
}

.grid_view_collection p.caption {
  text-align: left;
  font-size: 14px;
  padding-left: 20px;
}

.grid_view_collection p.caption a {
  text-decoration: none;
}

.list_view_collection {
  margin-top: 30px;
}

.list_view_collection div.stack {

}

.list_view_collection div.details {
  margin-left: 10px;
}

.grid_view_collectible {
  margin-left: 24px;
  margin-bottom: 25px;
  text-align: center;
}

.collectible_thumbnail {
  border:1px solid #AABC81;
  margin:1px;
  padding:1px;
}

.grid_view_collectible {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
}

.grid_view_collectible img.thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}

.grid_view_collectible p {
  padding: 10px;
  color: #afafaf;
  font-weight: bold;
  font: 10pt "Lucida Grande", Arial, sans-serif;
  text-align: left;
}

.grid_view_collectible .cover {
  float: left;
  position: absolute;
  background: #000;
  height: 75px;
  width: 100%;
  opacity: .8;
  /* For IE 5-7 */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  /* For IE 8 */
  -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.grid_view_collectible .cover {
  top: 150px;
  left: 0;
}
