Options +FollowSymLinks +ExecCGI

# ----------------------------------------------------------------------
# Better website experience for IE users
# ----------------------------------------------------------------------

# Force the latest IE version, in various cases when it may fall back to IE7 mode
#  github.com/rails/rails/commit/123eb25#commitcomment-118920
# Use ChromeFrame if it's installed for a better experience for the poor IE folk

<IfModule mod_headers.c>
  Header set X-UA-Compatible "IE=Edge,chrome=1"
  # mod_headers can't match by content-type, but we don't want to send this header on *everything*...
  <FilesMatch "\.(js|css|gif|png|jpe?g|pdf|xml|oga|ogg|m4a|ogv|mp4|m4v|webm|svg|svgz|eot|ttf|otf|woff|ico|webp|appcache|manifest|htc|crx|oex|xpi|safariextz|vcf)$" >
    Header unset X-UA-Compatible
  </FilesMatch>
</IfModule>

<IfModule pagespeed_module>
  ModPagespeedDisallow */combine.php*
  ModPagespeedEnableFilters collapse_whitespace,combine_css,combine_javascript,rewrite_images
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteRule ^cal/events/(.*)$ /calendar/events/$1 [R=301,L]
  RewriteRule ^collectible/item/(\d+)\.html$ /collectible/$1/n-a [R=301,L]

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)\.html$ /$1 [R=301,L]

  # we check if the .html version is here (caching)
  RewriteRule ^$ index.html [QSA]
  RewriteRule ^([^.]+)$ $1.html [QSA]

  RewriteRule ^pages/(.*)$ /blog/$1 [QSA,L]
  RewriteRule ^robots.txt$ /robots.php [QSA,L]

  # no, so we redirect to our front web controller
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
